/** FUENTES  **/
@font-face{font-family: Poppins-Light;src: url('../fonts/poppins/Poppins-Light.ttf');}
@font-face{font-family: Poppins;src: url('../fonts/poppins/Poppins-Medium.ttf');}
@font-face{font-family: Montserrat-Regular;src: url('../fonts/montserrat/Montserrat-Regular.ttf');}
@font-face{font-family: Montserrat-Medium;src: url('../fonts/montserrat/Montserrat-Medium.ttf');}
@font-face{font-family: Montserrat-Bold;src: url('../fonts/montserrat/Montserrat-Bold.ttf');}
@font-face{font-family: Montserrat-Italic;src: url('../fonts/montserrat/Montserrat-Italic.ttf');}
@font-face{font-family: Montserrat-Black;src: url('../fonts/montserrat/Montserrat-Black.ttf');}
@font-face{font-family: Linearicons;src: url('../fonts/Linearicons-Free-v1.0.0/WebFont/Linearicons-Free.ttf');}
@font-face{font-family: Poppins-Bold;src: url('../fonts/poppins/Poppins-Bold.ttf');}
@font-face{font-family: Poppins-Black;src: url('../fonts/poppins/Poppins-Black.ttf');}

:root{
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;
  --primario: #de0007;
  --primario-oscuro: #bf040a;
  --gris: #7f7f7f;
  --gris-mid: #888888;
  --gris-light: #e6e6e6;
  --blanco: #fff;
  --negro: #000;
  --naranja: #e65540;
  --transition-duration: 0.3s;
  --transition-delay: 0.2s;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*:after{
  box-sizing: inherit;
}


/* GLOBALES */

body{
  font-size: 1.6rem;
  background: -webkit-linear-gradient(to bottom, #d0d5df, #d1d4d9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,#d0d5df, #d1d4d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  line-height: 1.5;
  font-family: Poppins, Montserrat-Regular;
  font-weight: 400;
  overflow-x: hidden;
}

.ctrlmain{
  position: relative;
  z-index: 1;
}
.contenedor{
  max-width: 119rem;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: var(--primario);
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.center--text{
  text-align: center;
}
h1,h2,h3,h3{
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

h1{font-size: 4.8rem;}
h2{font-size: 4rem;}
h3{font-size: 3.2rem;}
h4{font-size: 2.8rem;}
h5{font-size: 2.2rem;}

.txtblack{color: var(--negro);}

p {
	font-family: Poppins;
	font-size: 15px;
	line-height: 1.7;
	color: #888888;
	margin: 0px;
}

/** Utilidades **/
.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
img{
  width: 100%;
}
.half-w{
  width: 50%;
}
.no-overflow{
  overflow: hidden;
}
.pagination{
  cursor: pointer;
}
.txtred{
  color: var(--primario);
}

/** Header **/
.header{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contenido--responsive{
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
  display: none;
}

.contenido--responsive img{
  width: 100%;
}

.contenedor h2, .contenido--responsive h2{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contenedor h2{
  width: 60rem;
  margin-top: 5px;
  border-radius: 0.5rem;
  font-size: 2.8rem;
}
.header__texto{
  text-align: center;
  color: var(--blanco);
  margin-top: -5rem;
  text-transform: uppercase;
}
.header__texto h2{
  font-weight: 700;
  font-size: 2rem;
}
.header__picture--img{
     height: 50%;   
}
@media(min-width: 768px) {
    .header__texto{
      margin-top: -10rem;
    }
    .header__texto h2{
      font-size: 4rem;
    }
    .header__picture--img{
      height: 350px;
    }
    .half-w{
      width: 25%;
    }
}

.modal-backdrop{
  z-index: 0 !important;
}

/** Contenido principal**/
.global__content{
  position: relative;
  z-index: 1;
}
.header__topbar{
  background-color: var(--negro);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
}
.contenedor__usuario{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}
.perfil__usuario--img{
  float: left;
  width: 10rem; 
  margin-left:2rem;
}
.topbar-social{
  grid-row: 2;
  height: 100%;
  top: -2.5rem;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}
.header__topbar--abrir{
  grid-row: 2;
  display: grid;
  justify-content: end;
}
.topbar-social-item {
  font-size: 1.8rem;
  color: var(--blanco);
  padding: 1rem;
}
.contenedor__navegacion{
  height: 0;
  -webkit-transition: 0.5s ease-in-out;
}
.contenedor__navegacion.abierto{
  height: 32rem;
  background-color: var(--primario);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.contenedor__navegacion__menu{
  display: grid;
  text-align: center;
}
.contenedor__navegacion__menu--opciones{
  padding-left: 0;
}
.contenedor__navegacion__menu--opciones li{
  padding-top: 1rem;
}
.contenedor__navegacion__menu--opciones > li > a {
  font-family: Poppins;
  font-size: 2rem;
  color: var(--blanco) !important;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight:500;
}
.contenedor__navegacion__menu--opciones .border{
  display: none;
}

.header-cart {
  position: absolute;
  z-index: 1100;
  right: -1.3rem;
  padding: 20px;
  background-color: var(--blanco);
  top: 3.8rem;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  
  transform-origin: top right;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.header__cart--usuario{
  right: -10rem;
  width: 40rem;
  top: 5rem;

}
.carrito__contenedor{
  width: 30rem;
}
.usuario__cerrarsesion{
  border-radius: 0.5rem;
  width: 100%;
  height: 4rem;
  font-family: Poppins;
  color: var(--blanco);
  font-size: 1.4rem;
  text-transform: uppercase;
  
}
.informacion__extra{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contenido--envios, .contenido--garantias, .contenido--tiendabierta{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido--garantias{
  border-left: 1px solid var(--gris-mid);
  border-right: 1px solid var(--gris-mid);
}
.contenido--envios h4, .contenido--garantias h4, .contenido--tiendabierta h4{
  font-family: Poppins;
  font-size: 1.8rem;
  color: var(--primario);
  line-height: 1.5;
}
.contenido--envios a, .contenido--garantias a, .contenido--tiendabierta span{
  font-family: Poppins;
  font-size: 1.3rem;
  color: var(--negro);
  line-height: 1.8;
}
.categoria__enlace{
  color: var(--negro);
}

@media(min-width: 800px) {
  .header__topbar{
    position: relative;
    height: 50px;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
  }
  .topbar-social{
    position: absolute;
  }
  .header__topbar--abrir{
    display: none;
  }
  .header__topbar--logo{
    grid-column: 2;
  }
  .header__topbar--logo img{
    width: 20rem;
  }
  .contenedor__usuario{
    column-gap: 3rem;
  }
  .contenedor__usuario--perfil{
    z-index:200;
    height: 5.2rem;
    width: 14rem;
  }
  .contenedor__usuario--carrito{
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 38px;
  }
  .contenedor__navegacion{
    display: flex;
    flex-wrap: wrap;
    background-color: #71706e;
    justify-content: center;
    align-items: center;
    height: 6rem;
    transition: all 0.3s;
  }
  .contenedor__navegacion__menu--opciones{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style-type: none;
    margin: 0;
    margin-top: -1rem;
    column-gap: 2rem;
  }
  .contenedor__navegacion__menu--opciones > li {
    display: block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: center;
  }
  li.sale-noti > a {
    color: #e65540;
  }
  .contenedor__navegacion__menu--opciones > li > a{
    font-size: 1.5rem;
    font-family: Poppins;
    border-bottom: none;
  }

  /**PRUEBA ANIMACION MENU**/
  .contenedor__navegacion__menu--opciones a {
    position: relative;
    padding: 10px;
  }

  .contenedor__navegacion__menu--opciones .border {
    display: block;
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
  }

  .contenedor__navegacion__menu--opciones .border-top,
  .contenedor__navegacion__menu--opciones .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
  }

  .contenedor__navegacion__menu--opciones .border-left,
  .contenedor__navegacion__menu--opciones .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
  }

  .contenedor__navegacion__menu--opciones .border-top,
  .contenedor__navegacion__menu--opciones .border-left,
  .contenedor__navegacion__menu--opciones .border-right {
    top: 0;
  }

  .contenedor__navegacion__menu--opciones .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
  }

  .contenedor__navegacion__menu--opciones .border-top {
    transform-origin: top left;
  }

  .contenedor__navegacion__menu--opciones .border-left {
    transform-origin: bottom left;
  }

  .contenedor__navegacion__menu--opciones .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
  }

  .contenedor__navegacion__menu--opciones a:hover .border-top,
  .contenedor__navegacion__menu--opciones a:hover .border-bottom {
    transform: scaleX(1);
  }

  .contenedor__navegacion__menu--opciones a:hover .border-left,
  .contenedor__navegacion__menu--opciones a:hover .border-right {
    transform: scaleY(1);
  }

  .contenedor__navegacion__menu--opciones a:hover .border-right {
    transition-delay: var(--transition-delay);
  }

  .contenedor__navegacion__menu--opciones a:hover .border-bottom {
    transition-delay: calc(var(--transition-delay) * 2);
  }

  .contenedor__navegacion__menu--opciones a:hover .border-left {
    transition-delay: calc(var(--transition-delay) * 3);
  }

  /*Animaciones*/
  .contenedor__navegacion__menu--opciones[data-animation="diagonal"] .border-left {
    transform-origin: top left;
  }

  .contenedor__navegacion__menu--opciones[data-animation="diagonal"] .border-right,
  .contenedor__navegacion__menu--opciones[data-animation="diagonal"] .border-bottom {
    transform-origin: bottom right;
  }

  .contenedor__navegacion__menu--opciones[data-animation="diagonal"] a:hover [class^=border]{
    transition-delay: 0s;
  }
  /**PRUEBA ANIMACION MENU**/


}
@media(max-width:800px) {
  .contenedor__navegacion__menu--opciones{
    padding: 1rem;
  }
  .contenedor__navegacion__menu--opciones li {
    background-color: var(--primario-oscuro);
    border-radius: 0.5rem;
    margin-top: 0.6rem;
    border-bottom: 0.3rem solid var(--blanco);
  }
  .contenedor__navegacion{
    position: relative;
  }
}

.header__contenido--banner__responsive{
  display: none;
}
.categoria__cat{
  max-width: 13rem;
}
.macrom{
  background-color: var(--blanco);
}
.macrom__contenedor--categorias{
  padding-bottom: 5rem;
}
.contenedor__nuestrosproductos h3{
  padding-bottom: 5rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
}

@media(min-width: 400px) {
    .categoria__cat{
      max-width: 20rem;
    }
}

.nuestrosproductos__masvendidos, .nuestrosproductos__liquidacion{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 4rem;
}
.contenedor__nuestrosproductos--masvendidos, .contenedor__nuestrosproductos--liquidacion{
  padding: 2rem;
}

#show,#hide {
	display:none;
}

#liquidacion{
	display:none;
  padding:10px;
  cursor:pointer;
}
.nuestrosproductos__listaopciones{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 4rem;
}
.nuestrosproductos__opciones{
  font-size: 2rem;
}
.nuestrosproductos__opciones label span{
  cursor: pointer;
}
.opcion__activada{
  color: var(--primario);
  box-shadow: 8px 5px 11px;
  border-radius: 0.5rem;
}
.redes__sociales--titulo{
  padding: 2rem 0rem 4rem;
}
.redes__sociales--titulo h3{
  font-weight: 700;
}
.redsocial__facebook{
  display: grid;
  justify-content: center;
}

@media(min-width: 768px) {
    .nuestrosproductos__masvendidos,.nuestrosproductos__liquidacion{
      grid-template-columns: repeat(4,1fr);
    }
}

/* Contenido principal refacciones **/
.descripcion-producto {
  display: flex;
  flex-wrap: nowrap;
  height: 10rem;
}

.descripcion-producto p{
  width: 70%;
  padding-top: 5px;
  margin-left: 15px;
} 

.descripcion-producto img{
   width: 30%;
}

/* Contenido principal compras */
.productos__datos--img img{
  width: 9rem;
}
.productos__datos--img{
  display: grid;
  justify-content: center;
}
.productos__datos--info--articulo{
  height: 10.5rem;
  cursor: pointer;
}
.productos__contenedor{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.contenedor-principal{
  background-color: var(--blanco);
}
.compras{
  display: grid;
  column-gap: 10rem;
  padding:2rem;
}
.cliente{
  display: block;
}
.cliente__titulo{
  text-align: center;
}
.cliente__datos{
  border: 1px solid;
  border-radius: 1rem;
  padding: 10px;
  max-width: 45rem;
  height: 20rem;
  grid-column: 1;
}
.cliente__opciones{
  display: grid;
  height: 20rem;
}
.cliente__opciones--button{
  max-width: 45rem;
  border-radius: 5px;
  color: #000;
}
.cliente__opciones--button:hover,.cliente__opciones--button:hover{
      color: var(--blanco);
      background: var(--primario);
}

.productos__pago--seguro img{
width: 50%;
}

.pagos{
  display: grid;
  column-gap: 10rem;
  padding: 2rem;
}
.cotizar__button{
  background-color: var(--primario);
  color: var(--blanco);
}
.cotizar__button:hover{
  background-color: var(--primario-oscuro);
}
.metodo__pago--metodos{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  column-gap: 0.5rem;
}
.metodo__pago--titulo {
  text-align: center;
}
.metodo__pago--metodo:hover{
  /* border-color: var(--primario); */
  border-radius: 0.5rem;
  border: 2px solid var(--primario);
}
.ventanaModal__contenedor,.modal3{
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.ventanaModal__contenido{
  margin-top: -5rem;
  position: relative;
  background-color: var(--blanco);
  width: 100%;
  padding: 20px;
  height: auto;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s;
  border: 1px solid #000;
  box-shadow: 5px 5px 15px #000000;
  border-radius: 5px;
}
.ventanaModal__contenido h2{
  background-color: var(--primario);
  height: 5rem;
  padding: 1rem;
  top: -5.7rem;
  color: var(--blanco);
}
.ventanaModal__contenido--grid{
  grid-template-columns: repeat(1,1fr);
  column-gap: 2rem;
  top: -5rem;
  position: relative;
}
.ventanaModal__contenido--datos{
  min-height: 15rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--negro);
}
.ventanaModal__contenido--seleccion{
  background-color: var(--primario);
  border-radius: 0.5rem;
  height:3.5rem;
  font-size: 1.8rem;
  padding-top: 0.5rem;
  text-align: center;
  color: var(--blanco);
}
.ventanaModal__contenido--info{
  padding: 0.5rem;
}
.ventanaModal__contenido--info p{
  font-size: 1.3rem;
  line-height: 1.2;
}
.ventanaModal__contenido--opciones{
  padding-top: 2rem;
}
.ventanaModal__contenido--boton{
  padding-bottom: 2rem;
}
.ventanaModal__contenido--boton button{
  height: 5rem;
  border: 1px solid #000;
}
.ventanaModal__contenido--boton button:hover{
  background-color: var(--primario-oscuro);
  color: var(--blanco);
  box-shadow: 5px 4px 7px #000;
}
.ventanaModal__contenido--boton button img{
  width: 2rem;
}
.cerrar, .cerrar1, .cerrar2, .cerrar3, .cerrar4{
  z-index: 1;
  position: relative;
  top: -2.8rem;
  font-size: 3.8rem;
  cursor: pointer;
}
.ventanaModal__contenido--agregar {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  column-gap: 2rem;
  position: relative;
  top: -5rem;
  border-bottom: 1px solid var(--gris);
}
.ventanaModal__contenido--usuario select{
  width: 320px;
  border-radius: 5px;
  border: 1px solid #666;
}
.ventanaModal__contenido--botonguardar{
    width: 100%;
    height: 5rem;
    position: relative;
    top: -2rem;
    background-color: var(--primario);
    border-color: var(--primario)
}
.ventanaModal__contenido--alerta{
  border: 2px solid var(--primario);
  border-radius: 0.25rem;
  padding-right: 8px;
  color: #000; 
  margin-left: 10px; 
  display: none;
  position: relative;
  top: -4rem;
}
.metodo__pago{
  grid-row: 2;
}
.pagar--button{
  height: 4rem;
  font-size: 2rem;
}
@media(min-width: 768px) {
  .contenedor-principal{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 4rem;
  }
  .productos{
    grid-column: 2;
    width: 50rem;
  }
  .productos__datos{
    display: grid;
    column-gap: 2rem;
  }
  .productos__datos--info{
    grid-column: 2;
  }
  .cliente{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    max-height: 45rem;
  }
  .cliente__titulo{
    text-align: justify;
    max-width: 45rem;
  }
  .cliente__opciones--button{
  max-width: 20rem;
  border-radius: 5px;
  color: #000;
  }
  .pagos__facturacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
  .pagos__productos{
    grid-column: 2;
    width: 50rem;
  }
  .metodo__pago--metodos{
    grid-template-columns: repeat(3,1fr);
  }
  .metodo__pago--titulo{
    text-align: justify;
    max-width: 45rem;
  }
  .ventanaModal__contenido--grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .ventanaModal__contenido{
    margin-left: 30%;
    width: 60rem;
  }
  .ventanaModal__contenido--agregar{
    grid-template-columns: repeat(2,1fr);
  }
  .ventanaModal__contenido--dato {
    border-right: 1px solid var(--gris);
  }
  .ventanaModal__contenido--botonguardar{
    width: 48.6rem;
    margin-left: 3rem;
  }

}

@media(max-width: 768px) {
  .productos{
    grid-column: 1;
    margin-top: 4rem;
  }
  .pagos__productos{
    grid-column: 1;
    margin-top: 4rem;
  }
  /* .ventanaModal__contenido{  revisar !!!!!
    margin-left: 12%;
  } */
}

/** Footer **/
.footer__contacto{
  display: none;
}
.contenedor__domicilios{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.contenedor__domicilios div strong{
  color: var(--primario);
}
.domicilios__macrom{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
}
.domicilios__macrom a img{
  height: 15rem;
  border-radius: 0.5rem;
}
.footer__contacto--texto{
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--negro);
}
.contacto__mail{
  color: var(--primario);
  font-size: 1.4rem;
}
.footer__contacto__contenedor--social{
  padding-top: 3rem;
}
.footer_contacto__opciones{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  padding-top: 4rem;
}
.contacto__opciones--titulo{
  font-family: Poppins;
  font-size: 1.5rem;
  color: var(--primario);
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.contacto__opciones{
  padding-bottom: 1rem;
  text-align: center;
}
.contacto__opciones a{
  font-family: Poppins;
  font-size: 1.3rem;
  color: var(--negro);
  line-height: 1.8;
}
.contacto__opciones a:hover{
  color: var(--primario);
}
.footer__contacto__contenedor--social a{
  color: var(--negro);
}

@media(min-width: 768px) {
  .footer__contenedor{
    background-color: #f0f0f0;
    padding: 4.5rem;
  }
  .footer__contacto{
    display: block;
  }

}

/*Contenido catalogo principal*/
.catalogo__filtrado{
  display: grid;
}
.catalogo__filtrado--opciones select, .catalogo__filtrado--buscador input{
  height: 4rem;
}
.catalogo__filtrado--buscador{
  margin: 3rem 0 3rem;
}

@media(min-width: 800px) {
  .catalogo__filtrado--opciones{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
  }
  .catalogo__filtrado--opciones select{
    grid-row: 2;
    width: 30rem;
    height: 4rem;
  }
  .catalogo__filtrado--buscador{
    width: 40rem;
    display: grid;
    grid-row: 1;
    justify-self: center;
  }
  .catalogo__filtrado--buscador input{
    width: 100%;
    height: 4rem;
  }
  .catalogo__filtrado--buscador button{
    width: 5rem;
    height: 4rem;
  }
  .catalogo__filtrado--buscador button:hover{
    color: var(--primario);
  }
  .refacciones__productos{
    width: 120rem;
    margin: 0 auto;
  }
}

/*Contenido catalogo detalles*/
.detalles{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background-color: var(--blanco);
}
.detalles__visual--contenido{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.detalles__visual--miniatura{
  border: 2px solid #888;
  padding: 5px;
  width: 10rem;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 0.5rem;
  }
.detalles__visual--miniatura:hover{
  border:3px solid var(--primario);
  width: 15rem;
}
.enviogratis__texto{
  align-items: center;
  background-color: var(--blanco);
  padding: 0.5rem 0;
  position: fixed;
  top: 5.5rem;
}
.enviogratis__texto img{
  width: 5rem;
}
.enviogratis__texto p{
  padding: 0 1rem;
  color: #00a650;
}
.agotado__texto--ribbon{
  font-size: 1.2rem;
  position: fixed;
  top: 0;
}
.agotado__texto--ribbon h1{
  background-color: var(--blanco);
  padding: 0 1rem;
}

/** Contenido contactanos**/
.contactanos__principal{
  background-color: var(--blanco);
}
.contactanos__contenido{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding: 2rem;
}
.contenedor__mapas iframe{
  width: 40rem;
  height: 20rem;
  margin-bottom: 2rem;
}
.contenedor__mapas h2{
  font-size: 1.8rem;
  color: var(--primario);
}
.contactanos__contenido--contacto{
  width: 38rem;
}
.enviarcontatco--boton{
  height: 4rem;
  font-size: 1.6rem;
}
.QuieneSomos .contenedor-principal{
  padding: 5rem;
}
.QuieneSomos__main{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  column-gap: 3rem;
}

@media(min-width: 758px) {
  .contactanos__contenido{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 4rem;
  }
  .contenedor__mapas iframe{
    width: 50rem;
    height: 20rem;
    margin-bottom: 2rem;
  }
  .QuieneSomos__main{
    grid-template-columns: repeat(2,1fr);
  }
  .QuieneSomos__secundario{
    text-align: justify;
  }
  .secundario--texto__titulo{
    padding: 2rem 0 2rem 0;
    font-weight: 700;
  }
  .secundario--texto__nosotros{
    padding-bottom: 3rem;
  }
  .contenedor__texto--cita{
    padding: 0 2rem;
  }
}

/** Botones DEMO **/
.precio{
  background-color: #aa0009;
  border-radius: 5px;
  margin-top: 20px;
  height: 4rem;
  padding-top: 0rem;
}
.agregarcarrito__contenedor--boton, .iniciarsesion__contenedor--boton{
  height: 4rem;
}
.iniciarsesion__contenedor, .agregarcarrito__contenedor{
  width: 30rem;
}
.contenedor__botonesesion{
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.agregarmas{
  display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
.botones__sesion--iniciada .agregarmas{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.agregarmas__botones{
  width: 4rem;
  background-color: var(--gris-light);
  color: var(--gris-mid);
}
.agregarmas__botones:active {
	background-color: var(--primario);
	color: var(--blanco);
}
.agregarmas__contador{
  display: flex; 
  justify-content: center; 
  align-items: center;
  border: 2px solid var(--gris-light);
  width: 5rem;
  height: 4rem;
}
.descripcion{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1rem;
}
.descripcion p{
  border: 1px solid;
  padding-left: 1rem;
}
.descripcion__texto{
  border-top: 1px solid var(--gris-light);
	border-bottom: 1px solid var(--gris-light);
  padding: 2rem 4rem;
  margin-top: 2rem;
}
.slick2__img{
  background-color: var(--primario);
  width: 13rem;
}
.slick2{
  display: grid;
}
.slick2 button{
  width: 10rem;
  height: 4rem;
  background-color: var(--gris);
  z-index: 1;
  top: 19.5rem;
}
.slick2 button:hover{
  background-color:var(--primario-oscuro);
}
.slick2 button:focus{
  background-color: var(--primario-oscuro);
}
.descripcion__producto--precio{
  color: var(--blanco);
  text-align: center;
}
.descripcion__producto--precio h3{
  background-color: #aa0009;
  border-radius: 5px;
  margin-top: 20px;
  height: 4rem;
  padding-top: 0rem;
  width: 95%;
}
.detalles__visual--opciones{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}

@media(min-width: 768px) {
  .detalles{
    grid-template-columns: repeat(2,1fr);
  }
  .slick__img{
    width: 37rem;
    height: 37rem;
  }
  .detalles__visual--opciones{
    display: block;
  }
  .detalles__visual--contenido{
    grid-template-columns: repeat(2,1fr);
  }
  .block2__contenedor{
    padding: 1rem;
  }
}

/** RESTYLE TAG **/

/* --------------CONTENIDO MODAL--------------------- */

/*Cabecera Menu Usuario*/
.vinculos{
  margin-left:160px;
}
.vinculos div:hover{
  background-color: var(--primario);
  cursor: pointer;
  color: var(--blanco);
}
.vinculos div{
  height:25px;
  margin-bottom:-20px;
}
.vinculos div img{
  height:20px;
  width:20px;
}
.sesionombre{
  margin-top:20px;
}
.rowrap{
  justify-content: space-evenly;
}

/*////////////////Cuerpo de Mis Compras///////////////*/
/*----Contenedor Carrito en Mis Compras----*/
.tbl-cms td{
  padding: 0;
  padding-top:10px;
  padding-bottom:10px;
}
.p-r-pz{
  padding-right: 180px;

}
/*----Contenedor Carrito en Mis Compras----*/


/*//////////Termina Cuerpo de Mis Compras//////////*/


/*-------Modal Seleccionar otra------*/

#abrirModal:hover img, #abrirModal1:hover img, #abrirModal2:hover img, #abrirModal3:hover img, #abrirModal4:hover img{
  filter: invert(1);
}

.modal, .modal2, .modal4{
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  padding-top: 100px; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: auto; /* Se activará el scroll si es necesario */
  background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}

/* Animación */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animarsuperior {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.obligatorio{
  color: var(--primario);
}
.fzm-15{
  font-size: 15px;
}
.cuponcont{
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.inpcpn{
  border: 1px solid !important;
  border-right: 0px !important;
  border-radius: 0.25rem;
  max-width: 25rem;
}
#btncupon{
  border-color: var(--negro);
  background-color: var(--primario);
  color: var(--blanco);
  height: 4rem;
  max-width: 12rem;
}
#btncupon:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
}
.csmdesc{
  color:var(--primario);
}

/* ------------------------------------ */
.contreaco{
  margin-top:50px;
}

.leftbar:not(.show) {
  display: block;
}

/*Input number sin flechas de aumento y decremento*/
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/*
/*Responsive menores a 800 px*/
@media (max-width:800px){
  .leftbar:not(.show),.bfilter1:not(.show),.bfilter2:not(.show),.bfilter4:not(.show){
    display: block;
    background-color: #000;
  }
  .pagination a{
    visibility: visible;
  }
  .sec-title, .sec-title h3{
    font-size:0px;
    height:0px;
    visibility: hidden;
    position: absolute;
  }
  .enviogratis{
    margin-bottom:10px;
    position: absolute;
    margin-top:-95px;
    margin-left:100px;
  }
  .descripcion-producto{
    margin-top:20px;
  }
  html, body, section{
    overflow-x: hidden;
  }
  .copyseccion{
    margin-top:-45px;
  }
  .leftbar{
    padding-right:0px;
    padding-left:0px;
    z-index:100;
    position:relative;
    background-color: var(--blanco);
  }
  .m-b-20{
    margin-bottom:0px;
  }

}
/* ------------------------------------ */
input {
	outline: none;
	border: none !important;
}

textarea {
  outline: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*[ LOADDING ]
///////////////////////////////////////////////////////////
*/
.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[data-loader='ball-scale'] {
  width: 50px;
  height: 50px;
  -webkit-animation: ball-scale infinite linear .75s;
  -moz-animation: ball-scale infinite linear .75s;
  -o-animation: ball-scale infinite linear .75s;
  animation: ball-scale infinite linear .75s;
  border-radius: 100%;
  background-color: #e65540;
}

@-webkit-keyframes ball-scale {
  0% {
      -webkit-transform: scale(.1);
      -ms-transform: scale(.1);
      -o-transform: scale(.1);
      transform: scale(.1);
      opacity: 1;
  }

  100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 0;
  }
}

@-moz-keyframes ball-scale {
  0% {
    -webkit-transform: scale(.1);
    -ms-transform: scale(.1);
    -o-transform: scale(.1);
    transform: scale(.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }

}

@-o-keyframes ball-scale {
  0% {
    -webkit-transform: scale(.1);
    -ms-transform: scale(.1);
    -o-transform: scale(.1);
    transform: scale(.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(.1);
    -ms-transform: scale(.1);
    -o-transform: scale(.1);
    transform: scale(.1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/*[ BACK TO TOP ]
///////////////////////////////////////////////////////////
*/
.btn-back-to-top {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 90px;
  right: 34px;
  background-color: black;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.symbol-btn-back-to-top {
  font-size: 22px;
  color: white;
  line-height: 1em;
}

.btn-back-to-top:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 576px) {
  .btn-back-to-top {
    bottom: 90px;
    right: 35px;
  }
}

/*[ Top bar ]
===========================================================*/
.topbar {
  height: 45px;
  /*background-color: #f5f5f5;*/
  background-color: var(--negro);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------ */
.topbar-email{
  font-family: Montserrat-Regular;
  font-size: 13px;
  /*color: #888888;*/
  color: #fff;
  line-height: 1.7;
}
/* ------------------------------------ */
.header-wrapicon1,
.header-wrapicon2 {
  height: 27px;
  position: relative;
}

.header-wrapicon1 img,
.header-wrapicon2 img {
  height: 100%;
}

.header-icon1:hover,
.header-icon2:hover {
  cursor: pointer;
}

.header-icons-noti {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /*background-color: #111111;*/
  background-color: #ff0000;
  color: white;
  font-family: Montserrat-Medium;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: 3px;
}

/*[ Header cart ]
-----------------------------------------------------------
*/

.show-header-dropdown {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.header-cart-wrapitem {
  max-height: 270px;
  overflow: auto;
}
.header-cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* ------------------------------------ */
.header-cart-item-img {
  width: 80px;
  position: relative;
  margin-right: 20px;
}

.header-cart-item-img img {
  width: 100%;
}

.header-cart-item-img::after{
  content: '\e870';
  font-family: Linearicons;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0;
}

.header-cart-item-img:hover:after {
  cursor: pointer;
  opacity: 1;
}

/* ------------------------------------ */
.header-cart-item-txt {
  width: calc(100% - 100px);
}

.header-cart-item-name {
  display: block;
  font-family: Poppins-Light;
  font-size: 15px;
  color: #000;
  line-height: 1.3;
  margin-bottom: 12px;
}

.header-cart-item-info {
  display: block;
  font-family: Poppins-Light;
  font-size: 13px;
  color: #888888;
  line-height: 1.5;
}

.header-cart-total {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.3;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 3px;
}
/* ------------------------------------ */
.header-cart-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-cart-buttons button{
  height: 4rem;
  font-size: 1.6rem;
}
.header-cart-wrapbtn {
  width: calc((100% - 10px) / 2);
}

/*[ Header icon mobile ]
-----------------------------------------------------------*/
.header-icons-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.linedivide2 {
  display: block;
  height: 20px;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.header-icons-mobile .header-cart {
  width: 300px;
  top: 190%; 
  z-index: 1100;
  transform-origin: top right;
}

/*[ Header2 ]
///////////////////////////////////////////////////////////
*/
.fixed-header2 {
  z-index: 1300;
  position: fixed;
  height: 65px;
  left: 0;
  top: -70px;
  visibility: hidden;

  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2); 
}

.fixed-header2 .header-cart {
  top: 160%;
}

.show-fixed-header2 {
  visibility: visible;
  top: 0px;
}

/*[ Block1 ]
///////////////////////////////////////////////////////////
*/
.block1-wrapbtn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;

  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
}


/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: #e65540;
  content: 'Oferta';
}

.block2-labelnew::before {
  background-color: #5d070b;
  content: 'Nuevo';
}

/* ------------------------------------ */
.block2-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 0;
}

/* ------------------------------------ */
.block2-btn-addcart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -45px;
}

/* ------------------------------------ */
.block2-btn-towishlist,
.block2-btn-addwishlist {
  display: block;
  position: absolute;
  top: 26px;
  right: 20px;
  font-size: 20px;
  color: white;
  line-height: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.block2-btn-addwishlist:hover {
  color: white;
}

.block2-btn-addwishlist .icon-wishlist,
.block2-btn-towishlist .icon-wishlist {
  line-height: 0;
}

.block2-btn-addwishlist:hover .icon_heart_alt {
  display: none;
}

.block2-btn-addwishlist:hover .icon_heart {
  display: block;
}

/* ------------------------------------ */
.block2-btn-towishlist .icon_heart_alt {
  display: none;
}

.block2-btn-towishlist .icon_heart {
  display: block;
  color: #e65540;
}

/* ------------------------------------ */
.block2-overlay:hover {
  opacity: 1;
}

.block2-overlay:hover .block2-btn-addcart {
  bottom: 20px;
}

.block2-overlay:hover .block2-btn-addwishlist,
.block2-overlay:hover .block2-btn-towishlist{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*[ Block4 ]
///////////////////////////////////////////////////////////
*/
.block4 {
  position: relative;
  overflow: hidden;
  width: calc(100% / 5);
}

@media (max-width: 1360px) {
  .block4 {
    width: calc(100% / 4);
  }
}

@media (max-width: 1200px) {
  .block4 {
    width: calc(100% / 3);
  }
}

@media (max-width: 992px) {
  .block4 {
    width: calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .block4 {
    width: calc(100% / 1);
  }
}

/* ------------------------------------ */
@media (max-width: 1660px) {
  .rs1-block4 .block4 {
    width: calc(100% / 4);
  }
}

@media (max-width: 1380px) {
  .rs1-block4 .block4 {
    width: calc(100% / 3);
  }
}

@media (max-width: 1200px) {
  .rs1-block4 .block4 {
    width: calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .rs1-block4 .block4 {
    width: calc(100% / 1);
  }
}

/* ------------------------------------ */
.block4-overlay {
  display: block;
  background-color: rgba(0,0,0,0.9);
  visibility: hidden;
  opacity: 0;
}

.block4-overlay:hover {
  color: unset;
}

/* ------------------------------------ */
.block4-overlay-txt {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100%;
}

/* ------------------------------------ */
.block4-overlay-heart {
  transform-origin: top left;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/* ------------------------------------ */
.block4:hover .block4-overlay {
  visibility: visible;
  opacity: 1;
}

.block4:hover .block4-overlay-txt {
  bottom: 0;
}

.block4:hover .block4-overlay-heart {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*[ BG Title Page ]
///////////////////////////////////////////////////////////
*/
.bg-title-page {
  width: 100%;
  min-height: 239px;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

@media (max-width: 576px) {
  .bg-title-page .l-text2 {font-size: 35px;}
  .bg-title-page .m-text13 {font-size: 16px;}
}

/*[ rs NoUI ]
///////////////////////////////////////////////////////////
*/
.leftbar #filter-bar {
  margin-right: 6px;
  margin-left: 6px;
  height: 4px;
  border: none;
  background-color: #e1e1e1;
}
.leftbar #filter-bar .noUi-connect {
  background-color: #c5c5c5;
  border: none;
  box-shadow: none;
}
.leftbar #filter-bar .noUi-handle {
  width: 13px;
  height: 13px;
  left: -6px;
  top: -5px;
  border: none;
  border-radius: 50%;
  background: #999999;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}
.leftbar #filter-bar .noUi-handle:before {
  display: none;
}
.leftbar #filter-bar .noUi-handle:after {
  display: none;
}

/*[ Filter Color ]
///////////////////////////////////////////////////////////
*/
.color-filter1 {background-color: #00bbec;}
.color-filter2 {background-color: #2c6ed5;}
.color-filter3 {background-color: #ffa037;}
.color-filter4 {background-color: #ff5337;}
.color-filter5 {background-color: #a88c77;}
.color-filter6 {background-color: #393939;}
.color-filter7 {background-color: #cccccc;}

.checkbox-color-filter {
  display: none;
}

.color-filter {
    display:block;
    width:25px;
    height:25px;
    cursor:pointer;
    border-radius: 50%;
}

.checkbox-color-filter:checked + .color-filter {
  box-shadow: 0 0 0px 2px black;
  -moz-box-shadow: 0 0 0px 2px black;
  -webkit-box-shadow: 0 0 0px 2px black;
  -o-box-shadow: 0 0 0px 2px black;
  -ms-box-shadow: 0 0 0px 2px black;
}

/*[ Pagination ]
///////////////////////////////////////////////////////////
*/
.pagination {
  margin-right: -6px;
  margin-left: -6px;
}

.item-pagination {
  font-family: Montserrat-Regular;
  font-size: 13px;
  /*color: #808080;*/
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  margin: 6px;
  text-align: center;
}

.item-pagination:hover {
  /*background-color: #222222;*/
  background-color: #FF121C;
  color: white;
}

.active-pagination {
/*  background-color: #222222;*/
background-color: #FF121C;
  color: white;
}


/*[ Dropdown content ]
///////////////////////////////////////////////////////////
*/
.show-dropdown-content .down-mark {
  display: block;
}

.show-dropdown-content .up-mark {
  display: none;
}


/*[ Modal video 01 ]
///////////////////////////////////////////////////////////
*/
body {padding-right: 0px !important;}

.modal {
  z-index: 1360;
  overflow-x: hidden;
  overflow-y: auto !important;
}
.modal-open {overflow-y: scroll;}

/* ------------------------------------ */

.bdl-a-r{
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.bdl-c-itm{
  border: 1px solid #ccc;
  width: 150px;
  height: 45px;
  border-radius: 0.2rem;
  padding: 5px;
}
.mdl-env-ed{
  min-height: 600px;
}
.mdl-new{
  padding-top: 0px;
}

/*[ Input NumProduct ]
///////////////////////////////////////////////////////////
*/
input.num-product {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

