<section ng-controller="WebCtrl">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><i class="fa fa-columns mr-1"></i> Pagina Principal</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="?mod=home">Inicio</a></li>
                        <li class="breadcrumb-item active">Principal</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <section class="col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="card card-danger">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">
                                <i class="fa fa-image mr-1"></i>
                                Banners Macromautopartes
                            </h3>
                            <div class="card-tools">
                                <button class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <ul class="nav nav-tabs" id="TabHeader" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="TabPrincipal" data-toggle="tab" href="#Principal" 
                                                role="tab" aria-controls="Escritorio" aria-selected="true" onclick="localStorage.setItem('TabActive','Principal')">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="TabCatalogos" data-toggle="tab" href="#Catalogos"
                                                role="tab" aria-controls="Movil" aria-selected="true" onclick="localStorage.setItem('TabActive','Catalogos')">Catalogo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="TabCompras" data-toggle="tab" href="#Compras"
                                                role="tab" aria-controls="Movil" aria-selected="true" onclick="localStorage.setItem('TabActive','Compras')">Compras</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="TabNosotros" data-toggle="tab" href="#Nosotros"
                                                role="tab" aria-controls="Movil" aria-selected="true" onclick="localStorage.setItem('TabActive','Nosotros')">Nosotros</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="TabCarrousel" data-toggle="tab" href="#Carrousel"
                                                role="tab" aria-controls="Movil" aria-selected="true" onclick="localStorage.setItem('TabActive','Carrousel')">Carrousel</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade" id="Principal" role="tabpanel"
                                            aria-labelledby="desktop-tab">
                                            <br>
                                            <div class="row card card-danger card-outline b-shadow">
                                                <div class="card-body col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12"
                                                    ng-repeat="principal in databannerPrincipal.Escritorio">
                                                    <img ng-src="{{dominio}}/images/Banners/{{principal.imagen}}"
                                                        alt="Imagen principal" class="presentation__img"
                                                        style="margin-bottom: 10px;" ng-dblclick="btnDesimgcarrousel(principal._id, principal.Categoria)">
                                                        <address>
                                                            <small><b>Dimensiones de la imagen:</b> {{principal.width}} x {{principal.height}}</small><br>
                                                            <small><b>Fecha de subida:</b> {{principal.FechaCreacion}}</small><br>
                                                            <small><b>Formato:</b> {{principal.formato}}</small><br>
                                                            <small><b>Estado:</b><b style="color: #28a745;"> Activa</b></small>
                                                        </address>
                                                    <button class="btn btn-sm btn-outline-danger pull-right"
                                                        ng-click="btnDesactivar(principal._id, principal.Categoria)">Eliminar</button>
                                                </div>
                                            </div>

                                            <div class="available__images__cont">
                                                <div class="cont__datos"
                                                    ng-repeat="principal in databannerPrincipal.disabled.Escritorio">
                                                    <img ng-src="{{dominio}}/images/Banners/{{principal.imagen}}"
                                                        alt="Imagen principal" class="img-fluid enlace"
                                                        style="margin-bottom: 10px;"
                                                        ng-click="changePred(principal._id, principal.Categoria)">
                                                    <div class="info__imagen">
                                                        <small>Fecha de subida: {{principal.FechaCreacion}}</small><br>
                                                        <small><b>Estado:</b><b style="color: #de0007;"> Inactiva</b></small>
                                                        <button class="btn btn-sm btn-outline-danger pull-right"
                                                            ng-click="btnDesactivar(principal._id, principal.Categoria)">Eliminar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Catalogos" role="tabpanel"
                                            aria-labelledby="movil-tab">
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-xl-12 col-md-12 col-lg-12"
                                                    ng-repeat="promo in catalogos.Escritorio">
                                                    <div class="card card-danger card-outline b-shadow">
                                                        <div class="card-body">
                                                            <img ng-src="{{dominio}}/images/Banners/{{promo.imagen}}"
                                                                alt="Imagen Catalogos" class="presentation__img">
                                                            <address>
                                                                <small><b>Dimensiones de la imagen:</b> {{promo.width}} x {{promo.height}}</small><br>
                                                                <small><b>Fecha de subida:</b> {{promo.FechaCreacion}}</small><br>
                                                                <small><b>Formato:</b> {{promo.formato}}</small><br>
                                                                <small><b>Estado:</b><b style="color: #28a745;"> Activa</b></small>
                                                            </address>
                                                            <button class="btn btn-sm btn-outline-danger pull-right"
                                                                type="button"
                                                                ng-click="btnDesactivar(promo._id, promo.Categoria)">Eliminar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="available__images__cont">
                                                <div class="cont__datos"
                                                    ng-repeat="catalogo in catalogos.disabled.Escritorio">
                                                    <img ng-src="{{dominio}}/images/Banners/{{catalogo.imagen}}"
                                                        alt="Imagen Catalogos" class="img-fluid enlace"
                                                        style="margin-bottom: 10px;"
                                                        ng-click="changePred(catalogo._id, catalogo.Categoria)">
                                                    <div class="info__imagen">
                                                        <small>Fecha de subida: {{catalogo.FechaCreacion}}</small><br>
                                                        <small><b>Estado:</b><b style="color: #de0007;"> Inactiva</b></small>
                                                        <button class="btn btn-sm btn-outline-danger pull-right"
                                                            ng-click="btnDesactivar(catalogo._id, catalogo.Categoria)">Eliminar</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="Compras" role="tabpanel"
                                            aria-labelledby="movil-tab">
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-xl-12 col-md-12 col-lg-12"
                                                    ng-repeat="promo in compras.Escritorio">
                                                    <div class="card card-danger card-outline b-shadow">
                                                        <div class="card-body">
                                                            <img ng-src="{{dominio}}/images/Banners/{{promo.imagen}}"
                                                                alt="Imagen compras" class="presentation__img">
                                                            <address>
                                                                <small><b>Dimensiones de la imagen:</b> {{promo.width}} x {{promo.height}}</small><br>
                                                                <small><b>Fecha de subida:</b> {{promo.FechaCreacion}}</small><br>
                                                                <small><b>Formato:</b> {{promo.formato}}</small><br>
                                                                <small><b>Estado:</b><b style="color: #28a745;"> Activa</b></small>
                                                            </address>
                                                            <button class="btn btn-sm btn-outline-danger pull-right"
                                                                type="button"
                                                                ng-click="btnDesactivar(promo._id, promo.Categoria)">Eliminar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="available__images__cont">
                                                <div class="cont__datos"
                                                    ng-repeat="compras in compras.disabled.Escritorio">
                                                    <img ng-src="{{dominio}}/images/Banners/{{compras.imagen}}"
                                                        alt="Imagen compras" class="img-fluid enlace"
                                                        style="margin-bottom: 10px;"
                                                        ng-click="changePred(compras._id, compras.Categoria)">
                                                    <div class="info__imagen">
                                                        <small>Fecha de subida: {{compras.FechaCreacion}}</small><br>
                                                        <small><b>Estado:</b><b style="color: #de0007;"> Inactiva</b></small>
                                                        <button class="btn btn-sm btn-outline-danger pull-right"
                                                            ng-click="btnDesactivar(compras._id, compras.Categoria)">Eliminar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Nosotros" role="tabpanel"
                                            aria-labelledby="desktop-tab">
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-xl-12 col-md-12 col-lg-12"
                                                    ng-repeat="promo in nosotros.Escritorio">
                                                    <div class="card card-danger card-outline b-shadow">
                                                        <div class="card-body">
                                                            <img ng-src="{{dominio}}/images/Banners/{{promo.imagen}}"
                                                                alt="Imagen nosotros" class="presentation__img">
                                                            <address>
                                                                <small><b>Dimensiones de la imagen:</b> {{promo.width}} x {{promo.height}}</small><br>
                                                                <small><b>Fecha de subida:</b> {{promo.FechaCreacion}}</small><br>
                                                                <small><b>Formato:</b> {{promo.formato}}</small><br>
                                                                <small><b>Estado:</b><b style="color: #28a745;"> Activa</b></small>
                                                            </address>
                                                            <button class="btn btn-sm btn-outline-danger pull-right"
                                                                type="button"
                                                                ng-click="btnDesactivar(promo._id, promo.Categoria)">Eliminar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="available__images__cont">
                                                <div class="cont__datos"
                                                    ng-repeat="nosotros in nosotros.disabled.Escritorio">
                                                    <img ng-src="{{dominio}}/images/Banners/{{nosotros.imagen}}"
                                                        alt="Imagen nosotros" class="img-fluid enlace"
                                                        style="margin-bottom: 10px;"
                                                        ng-click="changePred(nosotros._id, nosotros.Categoria)">
                                                    <div class="info__imagen">
                                                        <small>Fecha de subida: {{nosotros.FechaCreacion}}</small><br>
                                                        <small><b>Estado:</b><b style="color: #de0007;"> Inactiva</b></small>
                                                        <button class="btn btn-sm btn-outline-danger pull-right"
                                                            ng-click="btnDesactivar(nosotros._id, nosotros.Categoria)">Eliminar</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="Carrousel" role="tabpanel"
                                            aria-labelledby="desktop-tab">
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-xl-12 col-md-12 col-lg-12">
                                                    <div class="card card-danger card-outline b-shadow">
                                                        <div class="card-body">
                                                            <div class="wrap-slick2">
                                                                <div class="slick2">
                                                                    <div ng-repeat="carrousel in carrousel.Escritorio">
                                                                        <div class="contenedor__slick2"><img ng-src="{{dominio}}/images/Banners/{{carrousel.imagen}}" ng-dblclick="btnDesimgcarrousel(carrousel._id, carrousel.Categoria)"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="available__images__cont">

                                                <div class="cont__datos" ng-repeat="carrousel in carrousel.disabled.Escritorio">
                                                    <img ng-src="{{dominio}}/images/Banners/{{carrousel.imagen}}"
                                                        alt="Imagen carrousel" class="img-fluid enlace"
                                                        style="margin-bottom: 10px;"
                                                        ng-click="CarrouselPred(carrousel._id, carrousel.Categoria)">
                                                    <div class="info__imagen">
                                                        <small>Fecha de subida: {{carrousel.FechaCreacion}}</small><br>
                                                        <small><b>Estado:</b><b style="color: #de0007;"> Inactiva</b></small>
                                                        <button class="btn btn-sm btn-outline-danger pull-right"
                                                            ng-click="btnDesactivar(carrousel._id, carrousel.Categoria)">Eliminar</button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="input-group">
                                <label for="imagenprincipal">Subir Imagen</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select name="slcDiseño" id="slcDisenioheader" ng-model="imagen.Disenio">
                                            <optgroup label="Selecciona el tipo de diseño">
                                                <option value="Escritorio">Escritorio</option>
                                                <option value="Movil">Movil</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="custom-file">
                                        <input class="custom-file-input archivos" type="file"
                                            uploader-model="imagen.file">
                                        <label for="imagenprincipal"
                                            class="custom-file-label">{{imagen.name}}</label>
                                    </div>
                                    <div class="input-group-apped">
                                        <button class="btn btn-primary pull-right" ng-click="btnsubirimagen()"><i
                                                class="fa fa-upload"> Subir imagen</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

        </div>
    </section>
</section>