<div ng-controller="MonederoDetallesCtrl" >
    <section class="content-header" ng-init="id={id}">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h1>Monedero Electrónico</h1>
                </div>
                <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="?mod=home">Inicio</a></li>
                    <li class="breadcrumb-item"> <a href="?mod=Monedero">Monedero electrónico</a></li>
                    <li class="breadcrumb-item active"> Crear</li>
                </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h5 class="card-title">Crear un nuevo monedero electronico</h5>
                        </div>
                        <div class="card-body">
                            <!-- <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Ingresa el username del usuario o buscar por el nombre del usuario">
                                    </div>
                                </div>
                                
                            </div> -->
                            <div class="row mt-4">
                                <section class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-danger elevation-1">
                                            <i class="fa fa-credit-card"></i>
                                        </span>
                                        <div class="info-box-content">
                                            <h3 class="info-box-number">{{result.Monedero | currency}}</h3>
                                            <span class="info-box-text">Monedero Acumulado</span>
                                            
                                        </div>
                                    </div>
                                    <div class="card card-danger card-outline">
                                        <div class="card-body box-profile">
                                            <div class="text-center">
                                                <img class="profile-user-img img-fluid img-circle" src="Images/usuarios/root.png" alt="Avatar">
                                            </div>
                                            <h4 class="profile-username text-center">{{result.Cliente.nombres}} {{result.Cliente.Apellidos}}</h4>
                                            <p class="text-muted text-center"><small> {{result.Cliente.username}}</small></p>
                                            <!-- <ul class="list-group list-group-unbordered">
                                                <li class="list-group-item">
                                                    <small><b> Ultima sessión</b></small>
                                                    <a class="float-right"><small> {{cliente.ultimoacceso}} </small></a>
                                                </li>
                                                <li class="list-group-item">
                                                    <small><b>Compras realizadas</b></small>
                                                    <a class="float-right"><small> 0 </small></a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Acerca del Cliente</h3>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                </button>
                                              </div>
                                        </div>
                                        <div class="card-body">
                                            <b><i class="fa fa-map-marker mr-1"></i>Lugar de residencia</b>
                                            <p class="text-muted">{{result.Cliente.ciudad}}, {{result.Cliente.estado}}</p>
                                            <hr>
                                            <b><i class="fa fa-phone"></i> Telefono</b>
                                            <p class="text-muted">{{result.Cliente.telefono}}</p>
                                            <hr>
                                            <b><i class="fa fa-envelope-o "></i> Correo</b>
                                            <p class="text-muted">{{result.Cliente.correo}}</p>
                                        </div>
                                    </div>
                                    <a href="?mod=Monedero" class="btn btn-danger btn-block mb-3">Regresar</a>
                                </section>
                                <section class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                                    <div class="card card-danger card-outline">
                                        
                                        <div class="card-body" >
                                            <h5>Movimientos del monedero</h5>
                                            <div class="mailbox-controls">
                                                <button type="button" class="btn btn-default btn-sm" ng-click="btnRefresh()"><i class="fa fa-refresh" ng-class="{'fa-spin': spin}"></i></button>
                                                <div class="float-right">
                                                    {{paginador.page+1}}-{{(paginador.page + paginador.limit) > totalrecords? totalrecords: (paginador.page + paginador.limit)}}/{{totalrecords}}
                                                    <div class="btn-group">
                                                      <button type="button" class="btn btn-default btn-sm" ng-click="bntPrevios()"><i class="fa fa-chevron-left"></i></button>
                                                      <button type="button" class="btn btn-default btn-sm" ng-click="btnNext()" ng-disabled="totalrecords - (paginador.page + paginador.limit) < 0"><i class="fa fa-chevron-right"></i></button>
                                                    </div>
                                                    <!-- /.btn-group -->
                                                  </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped">
                                                    <tbody>
                                                        <tr ng-repeat="r in records">
                                                            <td class="text-center">{{(paginador.page + $index)+1}}</td>
                                                            <td>{{r.Descripcion}}</td>
                                                            <td class="text-center">{{r.fecha_created}}</td>
                                                            <td class="text-center">
                                                                <span ng-class="{'text-danger': r.movimiento < 0, 'text-success': r.movimiento>0}">
                                                                    <i class="fa" ng-class="{'fa-sign-out': r.movimiento < 0,'fa-sign-in':r.movimiento>0}"></i>
                                                                </span>
                                                            </td>
                                                            <td class="text-right">{{r.Importe | currency}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>