<section ng-controller="CabeceraCtrl" ng-init="mod='{mod}'">
	<section class="contenedor" ng-repeat="nost in Banner.Escritorio">
		<img src="images/Banners/{{nost.imagen}}" alt="Banner quienes somos">
		<h2 class="l-text2 t-center">Qui&eacute;nes somos</h2>
	</section>
	<section class="contenedor-responsive" ng-repeat="nost in Banner.Movil">
		<img src="images/Banners/{{nost.imagen}}" alt="Banner Catalogos">
		<h2 class="l-text2 t-center">Qui&eacute;nes somos</h2>
	</section>
	<!-- Title Page -->
	

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="images/Banners/Nosotros-1.png" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						Nuestra Historia
					</h3>

					<p class="p-b-28">
						Macrom autopartes inició hace 45 años en la ciudad de Guadalajara, Jalisco.  En ese entonces inaugurada como Volks Kristy en la calle Álvaro Obregón y la 30. En ese entonces, solamente se contaba con un pequeño anaquel de refacciones y la grandiosa actitud de salir adelante. Con el paso del tiempo se fue adquiriendo mayor volumen de refacciones, logrando la especialización en Chevrolet, Nissan y Volkswagen. La refaccionaria se caracterizaba por los precios bajos y el trato amable hacia los clientes. Desde entonces hemos ido creciendo y expandiéndonos para llegar a nuevos clientes, con la intención de brindar el mejor precio y servicio, actualmente contamos con una extensa cadena de sucursales, las cuáles se sitúan en las ciudades de: Colima, Villa de Álvarez y Manzanillo
					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
							Nada significativo fue logrado por un esfuerzo individual. Mira debajo de la superficie y verás que todos los actos aparentemente solitarios son realmente el producto de un trabajo en equipo.
						</p>

						<span class="s-text7">
							- John C. Maxwell.
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
