<link rel="stylesheet" href="/css/login.css">
<div ng-controller="LoginCtrl" ng-init="mod='{mod}'">

    <section>
        
        <div class="container1">
            <div class="login">
                <div class="login__contenedor__uno">
                    <h4 class="contenedor__uno--texto">Calidad, Precio, Servicio</h4>
                </div>
                
                <div class="login__contenedor__dos">
                    <a href="?mod=home" class="fa fa-window-close closeinsregform"></a>

                    <form name="frmReg" id="frmReg"  novalidate class="form__login">

                        <div class="contenedor__dos--logo">
                            <img src="../../../images/icons/logo original.svg" alt="">
                        </div>

                        <h4 class="contenedor__dos--titulo">Iniciar Sesión</h4>
                        <div id="alertvali" ng-if="login.password!=0"><img src="images/icono notificacion.svg" alt="icon-user">Contraseña o Correo Incorrecto.</div>
                        
                        <div class="contenedor__dos--login">
                            <div class="login__contenedor">
                                <div class="login__contenedor--main">
                                    <form name="frmlogin" id="frmlogin" novalidate>

                                        <div class="form-group has-feedback main__login">
                                            <input type="email" name="login" id="login" class="form-control" placeholder="Correo electronico" ng-model="login.user" required>
                                        </div>

                                        <div class="form-group has-feedback main__login" id="divcpass">
                                            <input type="password" name="cpass" id="inprcpass" class="form-control" placeholder="Contraseña" ng-model="login.password" required>
                                            <button class="password__ver">
                                                <i class="pass_ver cpss fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>

                                        <div class="login__contenedor--secondary">
                                            <div class="secondary__contenedor">
                                                <div class="secondary__contenedor--boton">
                                                    <span type="submit" class="flex-c-m bg9 hov1 m-text3 trans-0-4" ng-disabled="frmlogin.$invalid" ng-click="btnLogin()">Iniciar Sesión</span>
                                                </div>

                                                <div class="secondary__contenedor--forgot">
                                                    <a href="" ng-click="btnolvide()"><p>¿Olvidaste tu contraseña?</p></a>
                                                </div>

                                                <div class="secondary__contenedor--register">
                                                    <a href="?mod=register"><p>Registrate para crear una cuenta nueva</p></a>
                                                </div>

                                                <div class="w-100"></div>
                                        
                                            </div>
                                        </div>
                                    </form>
    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>