<link rel="stylesheet" href="/css/login.css">
<div ng-controller="LoginCtrl" ng-init="mod='{mod}'" class="ctrlmain">
    <section>
        
        <div class="container1">
            <div class="login">
                <div class="login__contenedor__uno">
                    <h4 class="contenedor__uno--texto">Calidad, Precio, Servicio</h4>
                </div>
                
                <div class="login__contenedor__dos">
                    <a href="?mod=home" class="fa fa-window-close closeinsregform"></a>
                    <form name="frmReg" id="frmReg"  novalidate class="form__contenedor">

                        <div class="contenedor__dos--logo">
                            <img src="https://macromautopartes.com/images/icons/logo original.svg" alt="" class="logoimgtmn">
                            <!-- <img src="../../../images/icons/logo original.svg" alt="" class="logoimgtmn"> Acivar solo en la pagina principal -->
                        </div>

                        <h4 class="contenedor__dos--titulo">Registrarme</h4>

                            <div ng-show="frmReg.correo.$dirty && frmReg.correo.$invalid"><img src="https://macromautopartes.com/images/icono notificacion.svg" alt="icon-user" style="width: 48px;padding-right: 2px;">Ingresa un correo valido.</div>
                            <div ng-show="frmReg.cpass.$dirty && frmReg.cpass.$invalid || (Registro.Cpass != Registro.pass)"><img src="https://macromautopartes.com/images/icono notificacion.svg" alt="icon-user" style="width: 48px;padding-right: 2px;">Contraseñas no coinciden.</div>
                            <!-- <div ng-show="frmReg.correo.$dirty && frmReg.correo.$invalid"><img src="images/icono notificacion.svg" alt="icon-user" style="width: 48px;padding-right: 2px;">Ingresa un correo valido.</div>
                            <div ng-show="frmReg.cpass.$dirty && frmReg.cpass.$invalid || (Registro.Cpass != Registro.pass)"><img src="images/icono notificacion.svg" alt="icon-user" style="width: 48px;padding-right: 2px;">Contraseñas no coinciden.</div> Activar solo en la pagina principal-->

                        <div class="contenedor__dos--registro">

                            <div class="registro__datos" id="divnom">
                                <input class="form-control" type="text" name="nombre" placeholder="Nombre(s) *" ng-model="Registro.Nombre" required autocomplete="off" id="inprnom">
                            </div>

                            <div class="registro__datos" id="divape">
                                <input class="form-control" type="text" name="Apellidos" placeholder="Apellidos *" ng-model="Registro.Apellidos" required autocomplete="off" id="inprape">
                            </div>

                            <div class="registro__datos" id="divtel">
                                <input class="form-control" type="number" name="Telefono" placeholder="Telefono *" ng-model="Registro.Telefono" required autocomplete="off" id="inprtel">
                            </div>

                            <div class="registro__datos" id="divce">
                                <input class="form-control" type="email" name="correo" id = "correo" placeholder="Correo Electronico *" ng-model = "Registro.username" required autocomplete="off" id="inprce">
                            </div>

                            <div class="registro__datos" id="divpass">
                                <input class="form-control" type="password" name="pass" placeholder="Contraseña *" ng-model="Registro.pass" required id="inprpass">
                                <button class="password__ver">
                                    <i class="pass_ver pss fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                            
                            <div class="registro__datos" id="divcpass">
                                <input class="form-control" type="password" name="cpass" placeholder="Confirmar Contraseña *" ng-model="Registro.Cpass" required id="inprcpass">
                                <button class="password__ver">
                                    <i class="pass_ver cpss fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>

                        </div>

                        <div class="center--text registro__aviso">
                            <label for="aviso">
                                <input type="checkbox" id="aviso" name="Aviso" ng-model="Registro.Aviso" required>&nbsp;&nbsp;Acepto el <a href="?mod=aviso-de-privacidad" target="_blank">aviso de privacidad</a>, <a href="?mod=Terminos-condiciones" target="_blank">terminos y condiciones.</a>
                            </label>    
                        </div>

                        <div class="secondary__contenedor--boton">
                            <span type="submit" class="flex-c-m bg9 hov1 m-text3 trans-0-4" ng-click="btnRegistrar()">Registrarme</span>
                        </div>

                        <p class="yatienes__cuenta">¿Ya tienes cuenta? <a href="?mod=login">Iniciar Sesión</a></p>
                        
                    </form>
                        
                </div>
            </div>
        </div>
    </section>
</div>
