
<div ng-controller="CabeceraCtrl">
	<!-- Header -->
	<header class="header2">

		<!-- Header desktop -->
		<div class="contenedor__header p-t-0">
			<div class="header__topbar">
				<div class="topbar-social">
					<a href="https://www.facebook.com/MacromAutopartes/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
					<a href="https://www.instagram.com/macromautopartes/" class="topbar-social-item fa fa-instagram" target="_blank"></a>
					<a href="https://www.youtube.com/channel/UCbVJJH6AIZJ9lH7fE_2rtwA" class="topbar-social-item fa fa-youtube-play" target="_blank"></a>
					<a href="https://www.tiktok.com/@macromautopartes?lang=en" class="topbar-social-item fa fa-tumblr" target="_blank"></a>

				</div>

				<!-- Logo2 -->
				<a href="?mod=home" class="header__topbar--logo">
					<img src="images/icons/logomacrom.png" alt="IMG-LOGO">
				</a>



				<div class="contenedor__usuario">
					<!--Inicio de Usuario-->
					<div class="contenedor__usuario--perfil" id="usercba" ng-show="user">
						<div class="header-wrapicon1">
							<p class="text-danger t-center"><b>¡Hola {{session.nombrecorto}}!</b></p>
							<p class="js-show-header-dropdown t-center" style="cursor:pointer; color:white;">Mi Cuenta</p>
							<div class="header-cart header-dropdown header__cart--usuario">
										<img src="../images/usuarios/Avatar Lobo Macrom Grande.png" class="perfil__usuario--img" loading="lazy" alt="ICON">
														
									<div class="vinculos">
										<div class="vinculos--contenedor" onclick="location.href = '?mod=Profile&opc=Session'">
											<img src="../images/icons/1.png" loading="lazy" alt="icono seguridad">
											<span class="vinculos--opciones">Sesión y Seguridad</span>
										</div><br>

										<div class="vinculos--contenedor" onclick="location.href = '?mod=Profile&opc=Mispedidos'">
											<img src="../images/icons/2.png" loading="lazy" alt="icono pedidos">
											<span class="vinculos--opciones">Mis pedidos</span>
										</div><br>
										
										<div class="vinculos--contenedor" onclick="location.href = '?mod=Profile&opc=Direcciones'">
											<img src="../images/icons/3.png" loading="lazy" alt="icono direcciones">
											<span class="vinculos--opciones">Mis direcciones</span>
										</div><br>

										<div class="vinculos--contenedor" onclick="location.href = '?mod=Profile&opc=Facturacion'">
											<img src="../images/icons/4.png" loading="lazy" alt="icono facturación">
											<span class="vinculos--opciones">Datos de facturación</span>
										</div>

									</div> 
															
									<p class="sesionombre s-text3a">{{session.nombre}}</p>
									<div>
										<div><!-- Button -->
												<button class="btn btn-danger usuario__cerrarsesion" ng-click="btnLogout()">Cerrar Sesión</button>
										</div>
									</div>
						
							</div>
						</div>
					</div>
					<!--Termina de Usuario-->
					<div class="header-wrapicon1" ng-show="!user">
						<span class="topbar-email header-icon1" ng-click="btnLogin()">Iniciar Sesion</span>
					</div> 

					<div class="contenedor__usuario--carrito">
											
						<div style="height: 47px;padding-top: 9px;" id="divcarri">
							<div class="header-wrapicon2 m-r-13">
								<img src="images/icons/Carrito.svg" class="header-icon1 js-show-header-dropdown1 filwhite" alt="ICON" id="carrisvg">
								<span class="header-icons-noti">{{Data.Carrito.length}}</span>

								<!-- Header cart noti -->
								<div class="header-cart header-dropdown carrito__contenedor">
									<ul class="header-cart-wrapitem">
																	<li class="header-cart-item" ng-repeat="product in Data.Carrito" ng-show="user">
																		<div class="header-cart-item-img" ng-click="btnEliminarRefaccion(product, true)">
																			<img ng-src="{{getImagen(product.imagenid)}}" alt="IMG">
																		</div>

																		<div class="header-cart-item-txt">
																			<a ng-click="RefaccionDetalles(product.imagenid)" class="header-cart-item-name enlace">
																				{{product._producto}}
																			</a>
																			<span class="header-cart-item-info">
																				No.parte: {{product.No_parte}}
																			</span>

																			<span class="header-cart-item-info">
																				{{product.Cantidad}} x {{product.Precio | currency}}
																		
																			</span>
																		</div>
																	</li>
									</ul>

									<div class="header-cart-total">
										Total: {{subtotal() | currency}}
									</div>
				
										<div class="header-cart-buttons">
											<div class="header-cart-wrapbtn">
												<!-- Button -->
												<button class="btn btn-danger form-control" onclick="location.href='?mod=Compras'">Ver Carrito</button>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>

				<div class="modo__oscuro">
					<label class="switch">
						<input class="switch__input fa" type="checkbox" role="switch" id="switch__darkmode">
						<svg class="switch__letters" viewBox="0 0 24 24" width="24px" height="24px" aria-hidden="true">
						  <g stroke="currentcolor" stroke-linecap="round" stroke-width="4" transform="translate(0,4)">
							<g class="switch__letter">
							  <polyline class="switch__letter-stroke" points="2 2,2 14" />
							  <polyline class="switch__letter-stroke" points="2 2,16 2" stroke-dasharray="14 16" stroke-dashoffset="8" transform="rotate(0,2,2)" />
							  <polyline class="switch__letter-stroke" points="2 8,6 8" stroke-dasharray="4 6" />
							</g>
							<g class="switch__letter" transform="translate(14,0)">
							  <polyline class="switch__letter-stroke" points="2 2,2 14" />
							  <polyline class="switch__letter-stroke" points="2 2,8 2" stroke-dasharray="6 8" />
							  <polyline class="switch__letter-stroke" points="2 8,6 8" stroke-dasharray="4 6" />
							</g>
						  </g>
						</svg>
						<span class="switch__text">Power</span>
					  </label>
				</div>
			</div>

			<div class="contenedor__navegacion">
				<!-- Menu -->
				<div class="contenedor__navegacion__menu">
					<nav class="contenedor__navegacion__menu--principal">
						<ul class="contenedor__navegacion__menu--opciones" data-animation="diagonal">
                            <li>
                            	<a href="?mod=home">Inicio
									<span class="border border-top"></span>
      								<span class="border border-right"></span>
      								<span class="border border-bottom"></span>
      								<span class="border border-left"></span>
								</a>
                            </li>
                            <li>
                            	<a href="?mod=catalogo">Refacciones
									<span class="border border-top"></span>
									<span class="border border-right"></span>
									<span class="border border-bottom"></span>
									<span class="border border-left"></span>
								</a>
								
                            </li>
                            <li>
                            	<a href="?mod=Compras" ng-show="user">Mis compras
									<span class="border border-top"></span>
									<span class="border border-right"></span>
									<span class="border border-bottom"></span>
									<span class="border border-left"></span>
								</a>
								<a href="?mod=login" ng-show="!user">Mis compras
									<span class="border border-top"></span>
									<span class="border border-right"></span>
									<span class="border border-bottom"></span>
									<span class="border border-left"></span>
								</a>
                            </li>
            				<li>
                                <a href="?mod=Blog">Blog
									<span class="border border-top"></span>
									<span class="border border-right"></span>
									<span class="border border-bottom"></span>
									<span class="border border-left"></span>
								</a>
                            </li>
                            <li>
                                <a href="?mod=nosotros">Nosotros
									<span class="border border-top"></span>
									<span class="border border-right"></span>
									<span class="border border-bottom"></span>
									<span class="border border-left"></span>
								</a>
                            </li>
                            <li>
                            	<a href="?mod=contacto">Contacto
									<span class="border border-top"></span>
									<span class="border border-right"></span>
									<span class="border border-bottom"></span>
									<span class="border border-left"></span>
								</a>
                            </li>
						</ul>
					</nav>
				</div>
			</div>
			
			<div class="contenedor__navegacion--mobile">
				<span style="--i:0;--x:-1;--y:0;">
				  <ion-icon class="fa fa-address-book-o" name="contact-outline" onclick="location.href='?mod=contacto'"></ion-icon>
				  <p class="navegacion__mobil--nombres">Contacto</p>
				</span>
				<span style="--i:1;--x:1;--y:0;" ng-show="user">
				  <ion-icon class="fa fa-shopping-cart" name="shopping-cart-outline" onclick="location.href='?mod=Compras'"></ion-icon>
				  <a class="navegacion__mobil--nombres">Carrito</a>
				</span>
				<span style="--i:1;--x:1;--y:0;" ng-show="!user">
					<ion-icon class="fa fa-shopping-cart" name="shopping-cart-outline" ng-click="btnLogin()"></ion-icon>
					<a class="navegacion__mobil--nombres">Carrito</a>
				  </span>
				<span style="--i:2;--x:0;--y:0;">
					<ion-icon name="alarm-outline"><img src="https://macromautopartes.com/images/icons/FaviconM.webp"></img> </ion-icon>
				</span>
				<span style="--i:3;--x:1;--y:1;">
				  <ion-icon class="fa fa-wpforms" name="blog-outline" onclick="location.href='?mod=Blog'"></ion-icon>
				  <a class="navegacion__mobil--nombres">Blog</a>
				</span>
				<span style="--i:4;--x:-1;--y:-1;">
				  <ion-icon class="fa fa-home" name="home-outline" onclick="location.href='?mod=home'"></ion-icon>
				  <p class="navegacion__mobil--nombres">Inicio</p>
				</span>
				<span style="--i:5;--x:-1;--y:1;">
				  <ion-icon class="fa fa-info-circle" name="info-outline" onclick="location.href='?mod=nosotros'"></ion-icon>
				  <p class="navegacion__mobil--nombres">Nosotros</p>
				</span>
				<span style="--i:6;--x:1;--y:-1;">
				  <ion-icon class="fa fa-wrench" name="wrench-outline" onclick="location.href='?mod=catalogo'"></ion-icon>
				  <a class="navegacion__mobil--nombres">Refacciones</a>
				</span>
			  </div>

		</div>
	</header>
</div>
	
