<div ng-controller="UsuariosCtrl" ng-cloak>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 align-items-center">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark font-weight-bold"><i class="fa fa-users text-danger mr-2"></i> Directorio de Usuarios</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right bg-transparent p-0 m-0">
                        <li class="breadcrumb-item"><a href="?mod=home" class="text-danger">Inicio</a></li>
                        <li class="breadcrumb-item active">Usuarios</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <section class="col-12 connectedSortable">
                    <div class="card card-danger card-outline shadow-sm">
                        
                        <div class="card-header d-flex align-items-center">
                            <h3 class="card-title font-weight-bold">
                                Lista del personal
                            </h3>
                            
                            <div class="card-tools ml-auto d-flex align-items-center">
                                <div class="custom-control custom-switch custom-switch-danger mr-4">
                                    <input type="checkbox" class="custom-control-input" id="switchHistorico" ng-model="historico" ng-change="getUsuarios()">
                                    <label class="custom-control-label font-weight-normal text-muted" style="cursor: pointer;" for="switchHistorico">Ver inactivos</label>
                                </div>
                                
                                <button class="btn btn-danger btn-sm shadow-sm" ng-click="btnNuevoUsuario()">
                                    <i class="fa fa-user-plus mr-1"></i> Agregar Usuario
                                </button>
                            </div>
                        </div>
                        
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped m-0">
                                    <thead class="bg-light text-muted">
                                        <tr>
                                            <th class="text-center border-0" width="5%">#</th>
                                            <th class="text-center border-0" width="8%">Foto</th>
                                            <th class="border-0" width="22%">Nombre del Usuario</th>
                                            <th class="text-center border-0" width="15%">Usuario (Login)</th>
                                            <th class="text-center border-0" width="20%">Último Acceso</th>
                                            <th class="text-center border-0" width="15%">Privilegio</th>
                                            <th class="text-center border-0" width="5%">Estatus</th>
                                            <th class="text-center border-0" width="10%">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in usuarios">
                                            <td class="text-center align-middle">{{$index + 1}}</td>
                                            
                                            <td class="text-center align-middle">
                                                <img ng-src="Images/usuarios/{{user.Username}}.png" onerror="this.src='Images/sinfoto.jpg'" class="img-circle elevation-1" style="width: 35px; height: 35px; object-fit: cover;" alt="User">
                                            </td>
                                            
                                            <td class="align-middle font-weight-bold">{{user.Nombre}} {{user.ApPaterno}} {{user.ApMaterno}}</td>
                                            <td class="text-center align-middle text-muted">{{user.Username}}</td>
                                            <td class="text-center align-middle"><small><i class="fa fa-clock-o mr-1"></i>{{user.ultimoAcceso}}</small></td>
                                            
                                            <td class="text-center align-middle">
                                                <select class="form-control form-control-sm border-info shadow-sm"
                                                        ng-model="user.Tipo_usuario"
                                                        ng-change="actualizarRolRapido(user)"
                                                        ng-options="tipo.value as tipo.descripcion for tipo in listaRoles">
                                                </select>
                                            </td>
                                            
                                            <td class="text-center align-middle">
                                                <span class="badge" ng-class="user.Estatus == 1 ? 'badge-success' : 'badge-danger'">
                                                    {{user.Estatus == 1 ? "Activo" : "Baja"}}
                                                </span>
                                            </td>
                                            
                                            <td class="text-center align-middle">
                                                <button class="btn btn-sm btn-info shadow-sm" title="Editar Perfil" ng-click="opcEditar(user._id)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-sm shadow-sm" title="{{user.Estatus == 1 ? 'Desactivar Cuenta' : 'Activar Cuenta'}}" 
                                                        ng-class="user.Estatus == 1 ? 'btn-danger' : 'btn-success'" 
                                                        ng-click="user.Estatus == 1 ? opcDesactivar(user._id) : opcActivar(user._id)">
                                                    <i class="fa" ng-class="user.Estatus == 1 ? 'fa-ban' : 'fa-check'"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="usuarios.length === 0">
                                            <td colspan="8" class="text-center py-4 text-muted">
                                                <i class="fa fa-inbox fa-2x mb-2"></i><br>
                                                No hay usuarios registrados en esta vista.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>