<div ng-controller="UsuariosCtrl" >
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"><i class="fa fa-user mr-1"></i> Usuarios</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="?mod=home">Inicio</a></li>
                    <li class="breadcrumb-item active">Usuarios</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12 connectedSortable">
                <div class="card card-danger shadow">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-users mr-1"></i>
                          Usuarios registrados
                        </h3>
                        <div class="card-tools">
                            <button class="btn btn-tool" data-card-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
<!--                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item">
                                <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                            </li>
                        </ul>-->
                    </div><!-- /.card-header -->
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 ">
                                    <span class="switch switch-sm pull-right">
                                        
                                        <input type="checkbox" class="switch" id="switch-id" ng-model="historico" ng-click="getUsuarios()">
                                        <label for="switch-id">Historico</label>
                                    </span>
                            </div>
                            <div class="col-lg-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <th class="text-center" width="5%">#</th>
                                        <th class="text-center" width="10">USR</th>
                                        <th class="text-center" width="30%">Usuario</th>
                                        <th class="text-center" width="20%">Ultimo Acceso</th>
                                        <th class="text-center" width="10%">Privilegio</th>
                                        <th class="text-center" width="10%">Estatus</th>
                                        <th class="text-center" width="10%">Acciones</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in usuarios">
                                            <td class="text-center">{{$index +1}}</td>
                                            <td class="text-center">{{user.Username}}</td>
                                            <td class="text-center">{{user.Nombre}} {{user.ApPaterno}} {{user.ApMaterno}}</td>
                                            <td class="text-center">{{user.ultimoAcceso}}</td>
                                            <td class="text-center">{{user.Tipo_usuario}}</td>
                                            <td class="text-center"><span class="badge {{user.Estatus == 1? 'badge-success':'badge-danger'}}">{{user.Estatus == 1? "Activo":"Baja"}}</span>{{}}</td>
                                            <td class="text-center">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                      <a class="dropdown-item enlace" ng-click="opcEditar(user._id)"><i class="fa fa-edit"> Editar</i></a>
                                                      <a class="dropdown-item enlace" ng-click="user.Estatus == 1? opcDesactivar(user._id):opcActivar(user._id)"><i class="fa {{user.Estatus == 1? ' fa-times-circle-o':'fa-check-square-o'}}"></i> {{user.Estatus == 1? "Desactivar":"Activar"}}</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                    <div class="card-footer">
                        <button class="btn btn-danger pull-right" ng-click="btnNuevoUsuario()"><i class="fa fa-user-plus"> Nuevo Usuario</i></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="mdlUsuarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
</div>