<div ng-controller="UsuariosEditCtrl" ng-cloak>
    <div class="content-header" ng-init="usuario.id={id}">
        <div class="container-fluid">
            <div class="row mb-2 align-items-center">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark font-weight-bold"><i class="fa fa-edit text-danger mr-2"></i> Editar Perfil de Usuario</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right bg-transparent p-0 m-0">
                        <li class="breadcrumb-item"><a href="?mod=home" class="text-danger">Inicio</a></li>
                        <li class="breadcrumb-item"><a href='?mod=usuarios' class="text-danger">Usuarios</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <form name="frmUsuarios" id="frmUsuarios" novalidate>
                <div class="row">
                    
                    <section class="col-xs-12 col-sm-12 col-md-4 connectedSortable">
                        <div class="card card-danger card-outline shadow-sm">
                            <div class="card-body box-profile">
                                <div class="text-center mb-3">
                                    <img ng-src="{{img}}" alt="User profile" class="profile-user-img img-fluid img-circle elevation-2" style="width: 100px; height: 100px; object-fit: cover;"/>
                                </div>
                                <h3 class="profile-username text-center font-weight-bold">
                                    {{usuario.Nombre}} {{usuario.ApPaterno}}
                                </h3>
                                <p class="text-muted text-center badge badge-light d-block w-50 mx-auto py-2">
                                    <i class="fa fa-shield mr-1 text-danger"></i> {{gettipousuario(usuario.Tipo_usuario)}}
                                </p>
                            </div>
                        </div>
                    </section>

                    <section class="col-xs-12 col-sm-12 col-md-8 connectedSortable">
                        <div class="card card-danger shadow-sm">
                            <div class="card-header">
                                <h3 class="card-title font-weight-bold">
                                    <i class="fa fa-id-card-o mr-2"></i> Actualizar Datos Personales
                                </h3>
                            </div>
                            
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label for="txtnombre">Nombre <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="txtnombre" id="txtnombre" ng-model="usuario.Nombre" ng-disabled="disabled" required/>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="txtapPaterno">Apellido Paterno <span class="text-danger">*</span></label> 
                                        <input type="text" class="form-control" name="txtapPaterno" id="txtapPaterno" ng-model="usuario.ApPaterno" ng-disabled="disabled" required/>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="txtapMaterno">Apellido Materno <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="txtapMaterno" id="txtapMaterno" ng-model="usuario.ApMaterno" ng-disabled="disabled" required/>
                                    </div>

                                    <div class="col-md-8 form-group">
                                        <label for="txtdomicilio">Domicilio <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="txtdomicilio" id="txtdomicilio" ng-model="usuario.Domicilio" ng-disabled="disabled" required/>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="txtcolonia">Colonia <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="txtcolonia" id="txtcolonia" ng-model="usuario.Colonia" ng-disabled="disabled" required/>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="txtciudad">Ciudad <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="txtciudad" id="txtciudad" ng-model="usuario.Ciudad" ng-disabled="disabled" required/>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="txtestado">Estado <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="txtestado" id="txtestado" ng-model="usuario.Estado" ng-disabled="disabled" required/>
                                    </div>

                                    <div class="col-md-4 form-group">
                                        <label for="txttelefono">Teléfono <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="txttelefono" id="txttelefono" ng-model="usuario.Telefono" ng-disabled="disabled" required/>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <label for="txtemail">Correo Electrónico <span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" name="txtemail" id="txtemail" ng-model="usuario.email" ng-disabled="disabled" required/>
                                    </div>

                                    <div class="col-12"><hr class="border-light"></div>

                                    <div class="col-md-6 form-group">
                                        <label for="slcrol">Rol / Privilegio <span class="text-danger">*</span></label>
                                        <select name="slcrol" id="slcrol" class="form-control custom-select" 
                                                ng-model="usuario.Tipo_usuario" 
                                                ng-disabled="disabled" required
                                                ng-options="tipo.value as tipo.descripcion for tipo in tipoUsuario">
                                        </select>
                                    </div>

                                    <div class="col-md-6 form-group m-0">
                                        <label for="txtavatar">Actualizar Foto de Perfil</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="txtavatar" id="txtavatar" uploader-model="usuario.file" ng-disabled="disabled"/>
                                            <label class="custom-file-label text-muted" for="txtavatar">Elegir nueva imagen...</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-footer d-flex bg-white border-top-0">
                                <button type="button" class="btn btn-secondary shadow-sm" ng-click="btnRegresar()">
                                    <i class="fa fa-arrow-left mr-1"></i> Regresar
                                </button>
                                
                                <div class="ml-auto d-flex">
                                    <button type="button" class="btn btn-outline-info shadow-sm mr-2" 
                                            ng-show="verpass" ng-click="btnChangepass()">
                                        <i class="fa fa-key mr-1"></i> Restablecer Contraseña
                                    </button>
                                    <button type="submit" class="btn shadow-sm" 
                                            ng-class="disabled ? 'btn-danger' : 'btn-success'"
                                            ng-disabled="disabled ? '' : frmUsuarios.$invalid" 
                                            ng-click="disabled ? btnEditarUsuario() : btnGuardarcambios()">
                                        <i class="fa" ng-class="disabled ? 'fa-edit' : 'fa-save'"></i> 
                                        {{disabled ? "Editar Usuario" : "Guardar Cambios"}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </form>
        </div>
    </section>

    <div class="modal fade" id="changapass" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content shadow-lg border-0">
                <div class="modal-header bg-dark text-white border-0">
                    <h5 class="modal-title font-weight-bold"><i class="fa fa-key mr-2"></i> Nueva Contraseña</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4 text-center">
                    <div class="form-group mb-3">
                        <input type="text" name='txtpasschange' id ='txtpasschange' 
                               class="form-control text-center font-weight-bold text-lg border-danger text-danger" 
                               placeholder="Contraseña nueva" ng-model="newpass" autocomplete="off"/>
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-sm w-100" ng-click="getNewpass()">
                        <i class="fa fa-magic mr-1"></i> Sugerir una segura
                    </button>
                </div>
                <div class="modal-footer border-0 bg-light justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" ng-disabled="!newpass" ng-click="btnGuardarpass()">
                        <i class="fa fa-save mr-1"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>