<div ng-controller="ClientesPerfilCtrl" ng-init="id={id}">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><i class="fa fa-user mr-1"></i> Clientes <small>Perfil</small></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="?mod=home">Inicio</a></li>
            <li class="breadcrumb-item"><a href="?mod=Clientes">Clientes</a></li>
            <li class="breadcrumb-item active">Perfil</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <section class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <div class="card card-danger card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="Images/usuarios/root.png" alt="Avatar">
              </div>
              <h4 class="profile-username text-center">{{cliente.nombres}} {{cliente.Apellidos}}</h4>
              <p class="text-muted text-center"><small> {{cliente.username}}</small></p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <small><b> Ultima sesión</b></small>
                  <a class="float-right"><small> {{cliente.ultimoacceso}} </small></a>
                </li>
                <li class="list-group-item">
                  <small><b>Compras realizadas</b></small>
                  <a class="float-right"><small> {{cliente.count.NPedidos}} </small></a>
                </li>
                <li class="list-group-item" ng-show="cliente.username == 'webmaster@macromautopartes.com'">
                  <small><b>Todos los cupones guardados en este usuario se guardaran automaticamente en los NUEVOS USUARIOS.</b></small>
                </li>
              </ul>
            </div>
          </div>
          <div class="card card-danger">
            <div class="card-header">
              Acerca del Cliente
            </div>
            <div class="card-body">
              <b><i class="fa fa-map-marker mr-1"></i>Lugar de residencia</b>
              <p class="text-muted">{{cliente.ciudad}}, {{cliente.estado}}</p>
              <hr>
              <b><i class="fa fa-phone"></i> Telefono</b>
              <p class="text-muted">{{cliente.telefono}}</p>
              <hr>
              <b><i class="fa fa-envelope-o "></i> Correo</b>
              <p class="text-muted">{{cliente.correo}}</p>
            </div>
          </div>
        </section>
        <section class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
          <div class="card card-danger card-outline">
            <div class="card-header">
              <ul class="nav nav-pills">

                <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Cupones</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Configuracion</a></li>
                <li class="nav-item-help enlace"><a class="nav-help">Ayuda <i class="fas fa-question-circle"></i></a></li>
                
                <div class="talk-bubble tri-right left-top none">
                  <div class="talktext">
                    <i class="far fa-times-circle enlace closeHelp"></i>
                    <section class="help1">
                      <p>
                        <b>Ingresar cupones:</b> Coloca el nombre del cupon, pulsa la tecla "Enter" o la tecla coma ",".<br>
                        Si deseas agregar un valor diferente al 10%, coloca el nombre del cupon más un signo de igual(=) y el valor del cupon sin epacios.<br>
                        <b>Ejemplo:</b> Cupon=50 (El nombre del cupon sera "Cupon" y su valor es del 50% de descuento.)<br>
                        Se iran agregando los cupones en color azul.<br>
                        <b>Ejemplo:</b>
                      </p>

                      <div style="display: flex;">
                        <li style="background-color: rgb(8, 113, 194);padding: 5px;border-radius: 5px;font-size: 14px;color: white;font-weight: bold;list-style: none;margin:0 5px;">Cupon=50</li>
                        <li style="background-color: rgb(8, 113, 194);padding: 5px;border-radius: 5px;font-size: 14px;color: white;font-weight: bold;list-style: none;margin:0 5px">macrupon</li>
                      </div>

                      <p>Al terminar de agregar cupones dar click en "Guardar para este usuario" o "Guardar para todos los usuarios".</p>
                    </section>

                    <section class="help2" style="display: none;">
                      <p>
                        <b>Eliminar Cupones:</b> Al ingresar cupones, apareceran en la parte inferior en color azul.
                        <b>Ejemplo:</b>
                      </p>

                      <div style="display: flex;">
                        <li style="background-color: rgb(8, 113, 194);padding: 5px;border-radius: 5px;font-size: 14px;color: white;font-weight: bold;list-style: none;margin:0 5px;">Cupon=50</li>
                        <li style="background-color: rgb(8, 113, 194);padding: 5px;border-radius: 5px;font-size: 14px;color: white;font-weight: bold;list-style: none;margin:0 5px">macrupon</li>
                      </div>

                      <p>Para eliminar cupones que no quieras agregar, solo debes dar "Doble click" sobre el cupon que quieres eliminar.</p>
                      <hr>
                      <p>
                        <b>Eliminar Cupones Activos:</b> Si el usuario tiene cupones activos, apareceran en la sección "Cupones activos".<br>
                        <b>Ejemplo:</b>
                      </p>

                      <div style="display: flex;">
                        <li style="background-color: rgb(0, 128, 0, 1);padding: 5px;border-radius: 5px;font-size: 14px;color: white;font-weight: bold;list-style: none;margin:0 5px;">Cupon=50</li>
                        <li style="background-color: rgb(0, 128, 0, 1);padding: 5px;border-radius: 5px;font-size: 14px;color: white;font-weight: bold;list-style: none;margin:0 5px">macrupon</li>
                      </div>
                      <p>Para eliminar cupones que el usuario tenga activos, solo debes dar "Doble click" sobre el cupon que quieras eliminar, la pagina se actualizara y el cupon se habra eliminado del usuario.</p>
                      <p>Pulsa el boton "Borrar Cupones" para borrar <b>TODOS</b> los cupones activos del usuario.</p>
                    </section>

                    <i class="fas fa-angle-double-right enlace" style="display: flex;justify-content: flex-end;font-size: 25px;"></i>
                    <i class="fas fa-angle-double-left enlace" style="display: none;font-size: 25px;"></i>
                  </div>

                </div>

              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="timeline">

                  <div class="formulario__cupones">
                    <label for="cupones">Ingresar cupones:</label>
                    <input type="text" class="formulario__input" name="cupones" id="tags_input" autocomplete="off">
                    <div class="formulario__listado" id="tags"></div>
                    <input type="hidden" name="tags" value="" ng-model="cliente.cupones">
                    <div class="contenedor__formulario__botones">
                      <button class="form-control btnF__cupones" ng-click="cuponGuardar()">Guardar para este usuario</button>
                      <button class="form-control btnF__cupones" ng-click="cuponGuardarAll()">Guardar para todos los usuarios</button>
                    </div>
                  </div>

                  <span><b>Cupones activos del usuario:</b></span>
                  <div class="cupones__disponibles">
                    <div class="cupones__disponibles__listado" ng-if="cliente.cupon_nombre != null" ng-repeat="cupones in cliente.miscupones">
                      <li class="cupones__tag enlace">{{cupones}}</li>
                    </div>
                    <li class="cupones__tag--ninguno" ng-if="cliente.cupon_nombre == null || cliente.cupon_nombre ==''">Ningun Cupon Activo</li>
                  </div>
                  <div ng-if="cliente.cupon_nombre != null && cliente.cupon_nombre !=''">
                    <button ng-click="cuponDelete()" class="form-control btnC__disponibles">Borrar Cupones</button>
                  </div>

                </div>
                
                <div class="tab-pane" id="settings">
                  <form class="form-horizontal">

                    <div class="form-group">
                      <label for="txtname" class="col-sm-3 control-label">Nombres</label>
                      <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" id="txtname" placeholder="Name"
                          ng-model="cliente.nombres" ng-disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txtApellidos" class="col-sm-3 control-label">Apellidos</label>

                      <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" id="txtApellidos" placeholder="Apellidos"
                          ng-model="cliente.Apellidos" ng-disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txtemail" class="col-sm-3 control-label">E-mail</label>

                      <div class="col-sm-12 col-md-10">
                        <input type="email" class="form-control" id="txtemail" placeholder="email"
                          ng-model="cliente.correo" ng-disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txtemail" class="col-sm-2 control-label">Domicilio</label>

                      <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" id="txtdomicilio" placeholder="Domicilio"
                          ng-model="cliente.Domicilio" ng-disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txtcp" class="col-sm-4 control-label">Codigo Postal</label>

                      <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" id="txtcp" placeholder="Codigo postal"
                          ng-model="cliente.Codigo_postal" ng-disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txtciudad" class="col-sm-4 control-label">Ciudad</label>

                      <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" id="txtciudad" placeholder="Ciudad"
                          ng-model="cliente.ciudad" ng-disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txtestado" class="col-sm-4 control-label">Estado</label>

                      <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" id="txtestado" placeholder="Estado"
                          ng-model="cliente.estado" ng-disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="txttelefono" class="col-sm-4 control-label">Estado</label>

                      <div class="col-sm-12 col-md-10">
                        <input type="text" class="form-control" id="txttelefono" placeholder="Estado"
                          ng-model="cliente.telefono" ng-disabled="disabled">
                      </div>
                    </div>


                    <div class="col-sm-12 col-md-offset-2 col-md-10">

                      <span class="switch switch-sm">
                        <input type="checkbox" class="switch" id="switch-id" ng-model="data.avisoprivacidad"
                          ng-disabled="disabled">
                        <label for="switch-id">Acepto el <a href="#">Aviso de privacidad</a></label>
                      </span>

                    </div>

                    <div class="form-group">

                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger" ng-click="btnEditar()"><i
                            class="fa {{disabled? 'fa-edit':'fa-save'}}"></i> {{disabled? "Editar":"Guardar"}}</button>
                      </div>

                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
            <button class="form-control btn-danger" ng-click="cuponDeleteAll()">Borrar cupones de todos los usuarios</button>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>