<div ng-controller="homeCtrl" class="global__content">

	<header class="header">
		<div class="header__contenido">
			<div class="header__contenido--banner" ng-repeat="banner in databannerPrincipal.Escritorio">
				<picture class="header__picture">
					<img decoding="sync" ng-src="https://macromautopartes.com/images/Banners/{{banner.imagen}}" alt="banner" class="header__picture--img" width="100%" height="350px">
					<!-- <img decoding="sync" src="images/Banners/{{banner.imagen}}" alt="banner" class="header__picture--img" width="100%" height="350px"> -->
				</picture>
			</div>
		</div>
	</header>
	
	<div class="contenedor contenido-principal">
		<main class="macrom" id="MainDark">
			<!-- Banner -->
			<div class="macrom__contenedor--categorias">
				<div class="container">
					<div class="row rowrap">
						<div class="categoria__cat" ng-repeat="categoria in Data.Categorias">
							<!-- block1 -->
							<div class="block1 hov-img-zoom pos-relative m-b-20">
								<a href="?mod=catalogo&pag=1&prod=&cate={{categoria._id}}&armadora=&mdl=&[a]=">
									<img ng-src="{{getImagen(categoria)}}" alt="IMG-BENNER" class="filcatego">
								</a>
								<div class="block1-wrapbtn">
									<!-- Button -->
									<a href="?mod=catalogo&pag=1&prod=&cate={{categoria._id}}&armadora=&mdl=&[a]=" class="categoria__enlace">
										{{categoria.Categoria}}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Our product -->
			<section class="seccion__nuestrosproductos">
				<div class="contenedor__nuestrosproductos">
						<h3 class="center--text">Nuestros Productos</h3>
					
					<div class="nuestrosproductos">
						<div class="nuestrosproductos__listaopciones">

						</div>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="toolbar__vistaopciones">
								<span class="enlace toolbar_click toolbar__activada" value="productoshome0">Más Vendidos</span>
								<span class="enlace toolbar_click1" value="productoshome1">Nuevos</span>
								<span class="enlace toolbar_click0" value="productoshome2">Liquidación</span>
							</div>
							<!-- Mas vendidos -->
							<div class="contenedor__nuestrosproductos--masvendidos" id="vistamasvendidos">
								<div class="nuestrosproductos__opciones center--text opcion__activada">
									<label><span>Más Vendidos</span></label>
								</div>
								<div class="nuestrosproductos__masvendidos">
									<div class="home__pr" ng-repeat="producto in Data.masVendidos | limitTo: 8">
										<!-- Block2 -->
										<div class="productos__informacion">
											<div class="wrap-pic-w of-hidden cursorpnt" 
											ng-class="{'ribboagotado': producto.agotado ,'pos-relative': !producto.agotado}">

											<a href="?mod=catalogo&opc=detalles&_id={{producto._id}}" class="enlace">
												<img ng-src="{{producto.imagen? 'https://macromautopartes.com/images/refacciones/'+producto._id+'.png':'https://macromautopartes.com/images/refacciones/'+producto._id+'.webp'}}" alt="{{producto.Producto}}">
												<!-- <img ng-src="{{producto.imagen? 'images/refacciones/'+producto._id+'.png':'images/refacciones/'+producto._id+'.webp'}}" alt="{{producto.Producto}}"> -->
											</a>
											</div>

											<div class="block2-txt">
												<section class="descripcion-producto">
													<div class="avisos__productos">
														<span class="promocion__aviso" ng-show="producto.RefaccionOferta">promoción</span>
														<span class="enviogratis__aviso" ng-show="producto.Enviogratis">envío gratis</span>
													</div>
													<a href="?mod=catalogo&opc=detalles&_id={{producto._id}}" class="block2-name dis-block s-text3">{{producto.Producto}}</a>
													<div class="precio__imgprove">
														<p class="precio__producto" ng-hide="producto.RefaccionOferta">{{producto.Precio1 | currency}}</p>	
														<p class="precio__producto" ng-show="producto.RefaccionOferta"><small class="line_through-red">{{producto.Precio1 | currency}}</small>
															{{producto.Precio2 | currency}}</p>
														<img ng-src="{{producto.imagenproveedor? 'https://macromautopartes.com/images/Marcasrefacciones/boxed-bg.jpg':'https://macromautopartes.com/images/Marcasrefacciones/' + producto.idProveedor + '.png'}}" 
														alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}" class="proovedor__img">
														<!--<img ng-src="{{producto.imagenproveedor? 'images/Marcasrefacciones/' + producto.idProveedor + '.png':'images/Marcasrefacciones/boxed-bg.jpg'}}" 
														alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}" class="proovedor__img">-->
													</div>
												</section>
											</div>
											
										</div>
									</div>
								</div>
							</div>

							<div class="contenedor__nuestrosproductos--nuevos" id="vistanuevos">
								<div class="nuestrosproductos__opciones center--text opcion__activada">
									<label><span>Nuevos</span></label>
								</div>
								<div class="nuestrosproductos__masvendidos">
									<div class="home__pr" ng-repeat="producto in Data.nuevos | limitTo: 8">
										<!-- Block2 -->
										<div class="productos__informacion">
											<div class="wrap-pic-w of-hidden cursorpnt" 
											ng-class="{'ribboagotado': producto.agotado,'ribbonnuevo': producto.RefaccionNueva==1,'pos-relative': !producto.agotado}">

											<a href="?mod=catalogo&opc=detalles&_id={{producto._id}}" class="enlace">
												<img ng-src="{{producto.imagen? 'https://macromautopartes.com/images/refacciones/'+producto._id+'.png':'https://macromautopartes.com/images/refacciones/'+producto._id+'.webp'}}" alt="{{producto.Producto}}">
												<!-- <img ng-src="{{producto.imagen? 'images/refacciones/'+producto._id+'.png':'images/refacciones/'+producto._id+'.webp'}}" alt="{{producto.Producto}}"> -->
											</a>
											</div>

											<div class="block2-txt">
												<section class="descripcion-producto">
													<div class="avisos__productos">
														<span class="promocion__aviso" ng-show="producto.RefaccionOferta">promoción</span>
														<span class="enviogratis__aviso" ng-show="producto.Enviogratis">envío gratis</span>
													</div>
													<a href="?mod=catalogo&opc=detalles&_id={{producto._id}}" class="block2-name dis-block s-text3">{{producto.Producto}}</a>
													<div class="precio__imgprove">
														<p class="precio__producto" ng-hide="producto.RefaccionOferta">{{producto.Precio1 | currency}}</p>	
														<p class="precio__producto" ng-show="producto.RefaccionOferta"><small class="line_through-red">{{producto.Precio1 | currency}}</small>
															{{producto.Precio2 | currency}}</p>
														<img ng-src="{{producto.imagenproveedor? 'https://macromautopartes.com/images/Marcasrefacciones/boxed-bg.jpg':'https://macromautopartes.com/images/Marcasrefacciones/' + producto.idProveedor + '.png'}}" 
														alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}" class="proovedor__img">
														<!--<img ng-src="{{producto.imagenproveedor? 'images/Marcasrefacciones/' + producto.idProveedor + '.png':'images/Marcasrefacciones/boxed-bg.jpg'}}" 
														alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}" class="proovedor__img">-->
													</div>
												</section>
											</div>
											
										</div>
									</div>
								</div>
							</div>

							<div class="contenedor__nuestrosproductos--masvendidos" id="vistaliquidacion">
								<div class="nuestrosproductos__opciones center--text opcion__activada">
									<label><span>Liquidación</span> </label>
								</div>
								<div class="nuestrosproductos__masvendidos">
									<div class="home__pr" ng-repeat="producto in Data.liquidacion | limitTo: 8">
										<!-- Block2 -->
										<div class="productos__informacion">
											<div class="wrap-pic-w of-hidden cursorpnt" 
											ng-class="{'ribbonliquidacion': producto.RefaccionLiquidacion ,'pos-relative': !producto.agotado}">
											<a href="?mod=catalogo&opc=detalles&_id={{producto._id}}" class="enlace">
												<img ng-src="{{producto.imagen? 'https://macromautopartes.com/images/refacciones/'+producto._id+'.png':'https://macromautopartes.com/images/refacciones/'+producto._id+'.webp'}}" alt="{{producto.Producto}}">
												<!-- <img ng-src="{{producto.imagen? 'images/refacciones/'+producto._id+'.png':'images/refacciones/'+producto._id+'.webp'}}" alt="{{producto.Producto}}"> -->
											</a>
											</div>

											<div class="block2-txt">
												<section class="descripcion-producto">

													<a href="?mod=catalogo&opc=detalles&_id={{producto._id}}" class="block2-name dis-block s-text3">{{producto.Producto}}</a>
													<div class="precio__imgprove">	
														<p class="precio__producto" ng-hide="producto.RefaccionOferta">{{producto.Precio1 | currency}}</p>	
														<p class="precio__producto" ng-show="producto.RefaccionOferta"><small class="line_through-red">{{producto.Precio1 | currency}}</small></p>
														<img ng-src="{{producto.imagenproveedor? 'https://macromautopartes.com/images/Marcasrefacciones/boxed-bg.jpg':'https://macromautopartes.com/images/Marcasrefacciones/' + producto.idProveedor + '.png'}}" 
														alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}" class="proovedor__img">
														<!--<img ng-src="{{producto.imagenproveedor? 'images/Marcasrefacciones/' + producto.idProveedor + '.png':'images/Marcasrefacciones/boxed-bg.jpg'}}" 
														alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}" class="proovedor__img">-->
													</div>

												</section>
												

												<div class="enviogratis"  ng-show="producto.Enviogratis">
													<!-- <img src="https://macromautopartes.com/images/icons/Icono-camion.png" loading="lazy" alt=""> -->
													<img src="/images/icons/Icono-camion.png" loading="lazy" alt="">
													<p> <strong>Envío Gratis </strong> </p> 
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
				<div class="redes__sociales">
					<div class="redes__sociales--titulo">
						<h3 class="center--text">
							S&iacute;guenos en nuestras redes sociales
						</h3>
						<section class="ss-icon">
							<a href="https://www.facebook.com/MacromAutopartes/" target="_blank"><article><span class="fab fa-facebook-f"></span></article></a>
							<a href="https://www.instagram.com/macromautopartes/" target="_blank"><article><span class="fab fa-instagram"></span></article></a>
							<a href="https://www.youtube.com/channel/UCbVJJH6AIZJ9lH7fE_2rtwA" target="_blank"><article><span class="fab fa-youtube"></span></article></a>
							<a href="https://www.tiktok.com/@macromautopartes?lang=en" target="_blank"><article><span class="fab fa-tiktok"></span></article></a>
						  </section>
					</div>

					<div class="contenedor__redsocial">
						<div class="redsocial">
							<div class="redsocial__facebook">
								<div class="fb-page" data-href="https://www.facebook.com/MacromAutopartes/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" 
								data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MacromAutopartes/" 
								class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MacromAutopartes/">Macrom Autopartes</a></blockquote></div>
							</div>

						</div>

					</div>
				</div>
			<!-- Instagram -->
			
			<!-- Shipping -->
				<section class="informacion__extra">
					<div class="informacion__extra--contenido">

						<div class="contenido--envios">
							<h4 class="center--text">
								Env&iacute;os a toda la Republica
							</h4>

							<a href="#" class="center--text">
								Click para mas informacion
							</a>
						</div>

						<div class="contenido--garantias">
							<h4 class="center--text">
								Garant&iacute;as
							</h4>

							<a href="#" class="center--text">
								Click para mas informacion
							</a>
						</div>

						<div class="contenido--tiendabierta">
							<h4 class="center--text">
								Tienda Abierta
							</h4>
							<span class="center--text">
								Te atendemos de Lunes a S&aacute;bado
							</span>
						</div>

					</div>
					
				</section>
			</div>
		</main>
</div>
