<div ng-controller="homeCtrl" class="global__content">

	<header class="header">
		<div class="header__contenido">
			<div class="header__contenido--banner" ng-repeat="banner in databannerPrincipal.Escritorio">
				<picture class="header__picture">
						<source srcset="images/Banners/BANNER-WEBBANNER-WEB-MOVIL-copia.webp" type="image/webp" class="header__picture--img">
						<img loading="lazy" src="images/Banners/{{banner.imagen}}" alt="banner" class="header__picture--img">
				</picture>
			</div>
		</div>
	</header>

	<div class="contenedor contenido-principal">
		<main class="macrom">
			<!-- Banner -->
			<div class="macrom__contenedor--categorias">
				<div class="container">
					<div class="row rowrap">
									<!--m-l-r-auto-->
										<div class="categoria__cat" ng-repeat="categoria in Data.Categorias">
							<!-- block1 -->
							<div class="block1 hov-img-zoom pos-relative m-b-30">
													<a href="?mod=catalogo&cat={{categoria._id}}">
														<img ng-src="{{getImagen(categoria)}}" alt="IMG-BENNER" class="filcatego">
													</a>
								<div class="block1-wrapbtn">
									<!-- Button -->
									<a href="?mod=catalogo&cat={{categoria._id}}" class="categoria__enlace">
										{{categoria.Categoria}}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Our product -->
			<section class="seccion__nuestrosproductos">
				<div class="contenedor__nuestrosproductos">
						<h3 class="center--text">Nuestros Productos</h3>
					
					<div class="nuestrosproductos">
						<div class="nuestrosproductos__listaopciones">
							<div class="nuestrosproductos__opciones center--text opcion__activada" id="idmasvendidos">
								<label><span ng-click="mostrarvendido()">Más Vendidos</span></label>
							</div>

							<div class="nuestrosproductos__opciones center--text" id="idliquidacion">
								<label><span ng-click="mostrarliquida()">Liquidación</span> </label>
							</div>
						</div>

						<!-- Tab panes -->
						<div class="tab-content">
							<!-- Mas vendidos -->
							<div class="contenedor__nuestrosproductos--masvendidos" id="masvendidos">
								<div class="nuestrosproductos__masvendidos">
									<div class="enlace" ng-repeat="producto in Data.masVendidos">
										<!-- Block2 -->
										<div class="block2" ng-click="RefaccionDetalles(producto._id)">
											<div class="block2-img wrap-pic-w of-hidden cursorpnt" 
											ng-class="{
												'ribboagotado': producto.agotado ,
												'pos-relative': !producto.agotado

											}"
											ng-style="{'background-color': producto.color}">
												<img ng-src="{{producto.imagen? 'images/refacciones/'+producto._id+'.png':'images/refacciones/'+producto._id+'.webp'}}" alt="{{producto.Producto}}">

											</div>

											<div class="block2-txt p-t-20">
												<section class="descripcion-producto">
													<img ng-src="{{producto.imagenproveedor? 'images/Marcasrefacciones/' + producto.idProveedor + '.png':'images/Marcasrefacciones/boxed-bg.jpg'}}" 
													alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}">
													<p class="block2-name dis-block s-text3 p-b-5">
														{{producto.Producto}}
													</p>
													
												</section>

												<span class="block2-price m-text6 p-r-5 p-t-5 text-white text-center">
													<h3 class="precio">{{producto.Precio1 | currency}}</h3>
												</span>
												
												<div class="enviogratis"  ng-show="producto.Enviogratis">
													<img src="/images/icons/Icono-camion.png" loading="lazy" alt="">
													<p > <strong>Envío Gratis </strong> </p> 
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Liquidaciones -->
							<div class="contenedor__nuestrosproductos--liquidacion" id="liquidacion">
								<div class="nuestrosproductos__liquidacion">
									<div class="enlace" ng-repeat="producto in Data.liquidacion">
										<!-- Block2 -->
										<div class="block2" ng-click="RefaccionDetalles(producto._id)">
											<div class="block2-img wrap-pic-w of-hidden cursorpnt" 
											ng-class="{
												'ribbonliquidacion': producto.RefaccionLiquidacion ,
												'pos-relative': !producto.agotado

											}"
											ng-style="{'background-color': producto.color}">
												<img ng-src="{{producto.imagen? 'images/refacciones/' + producto._id + '.webp':'images/refacciones/' + producto._id + '.webp'}}" loading="lazy" alt="IMG-PRODUCT">
											</div>

											<div class="block2-txt p-t-20">
												<section class="descripcion-producto">
													<img loading="lazy" ng-src="{{producto.imagenproveedor? 'images/Marcasrefacciones/' + producto.idProveedor + '.webp':'images/Marcasrefacciones/boxed-bg.webp'}}" 
													alt="{{producto.tag_altproveedor}}" title="{{producto.tag_titleproveedor}}">
													<p class="block2-name dis-block s-text3 p-b-5">
														{{producto.Producto}}
													</p>
													
												</section>
												<span class="block2-price m-text6 p-r-5 p-t-5 text-white text-center">
													<h3 class="precio">{{producto.Precio1 | currency}}</h3>
												</span>
												<div class="enviogratis"  ng-show="producto.Enviogratis">
													<img src="/images/icons/Icono-camion.png" loading="lazy" alt="">
													<p > <strong>Envío Gratis </strong> </p> 
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
				<div class="redes__sociales">
					<div class="redes__sociales--titulo">
						<h3 class="center--text">
							@ S&iacute;guenos en nuestras redes sociales
						</h3>
					</div>

					<div class="contenedor__redsocial">
						<div class="redsocial">
							<div class="redsocial__facebook">
								<div class="fb-page" data-href="https://www.facebook.com/MacromAutopartes/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" 
								data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MacromAutopartes/" 
								class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MacromAutopartes/">Macrom Autopartes</a></blockquote></div>

							</div>

						</div>

					</div>
				</div>
			<!-- Instagram -->
			
			<!-- Shipping -->
				<section class="informacion__extra">
					<div class="informacion__extra--contenido">

						<div class="contenido--envios">
							<h4 class="center--text">
								Env&iacute;os a toda la Republica
							</h4>

							<a href="#" class="center--text">
								Click para mas informacion
							</a>
						</div>

						<div class="contenido--garantias">
							<h4 class="center--text">
								Garant&iacute;as
							</h4>

							<a href="#" class="center--text">
								Click para mas informacion
							</a>
						</div>

						<div class="contenido--tiendabierta">
							<h4 class="center--text">
								Tienda Abierta
							</h4>
							<span class="center--text">
								Te atendemos de Lunes a S&aacute;bado
							</span>
						</div>

					</div>

				</section>
			</div>
		</main>
	</div>
<script>
	window.fbAsyncInit = function() {
	  FB.init({
		xfbml            : true,
		version          : 'v10.0'
	  });
	};
  
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js' ;
	fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '342958480063107');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=342958480063107&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->