<script src="https://www.google.com/recaptcha/api.js"></script>
<section ng-controller="CabeceraCtrl" ng-init="mod='{mod}'" class="global__content">
	<section class="header"  ng-repeat="contac in Banner.Escritorio">
		<picture class="header__picture">
			<!--<source srcset="https://macromautopartes.com/images/Banners/contactanos.webp" type="image/webp" class="header__picture--img">
			<img loading="lazy" src="https://macromautopartes.com/images/Banners/{{contac.imagen}}" alt="Banner de contactanos">-->
			<source srcset="images/Banners/contactanos.webp" type="image/webp" class="header__picture--img">
			<img loading="lazy" src="images/Banners/{{contac.imagen}}" alt="Banner de contactanos">
		</picture>
	</section>
	<!-- Title Page -->

	<!-- content page -->
	<section class="contactanos">
		<div class="contenedor contactanos__principal" id="MainDark">
			<div class="contactanos__contenido">
				<div class="contactanos__contenido--mapas">
					<div class="contenedor__mapas">
						<h2>Colima <br>Blvd. Camino Real 597, Diezmo.</h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.712475121612!2d-103.70171749152664!3d19.25135870708902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255a9768963441%3A0x3e7cfc0ab3f15bd5!2sRefaccionaria+Tsuruvolks!5e0!3m2!1ses-419!2smx!4v1557805747261!5m2!1ses-419!2smx" loading="lazy" allowfullscreen></iframe>
						<h2>Villa de Alvarez <br>Av. Benito juarez 164, La Gloria.</h2>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.47048153931!2d-103.74390078464462!3d19.26189585110726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842545532493215f%3A0x229ec182b93e6fdc!2sMacrom%20Autopartes!5e0!3m2!1ses-419!2smx!4v1676935585190!5m2!1ses-419!2smx" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						<h2>Manzanillo <br> Av. Elias Zamora Verduzco 2043, Salagua</h2>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10359.652205862709!2d-104.33917834066347!3d19.10698784817063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8424d7608379eb3d%3A0xea005accd2a70e3c!2sMacrom%20Autopartes!5e0!3m2!1ses-419!2smx!4v1676935648359!5m2!1ses-419!2smx" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
                </div>

				<div class="contactanos__contenido--contacto">
					<div class="row" ng-show="msgContacto">
						<div class="col-md-12">
								<h4 class="m-text26">
										Mensaje Recibido
								</h4>
							Gracias por ponerte en contacto con nosotros en breve un agente se comunicara contigo.
						</div>
					</div>
					<form class="leave-comment" ng-submit="enviarContacto()" ng-hide="msgContacto">
						<h4 class="m-text26">
							Env&iacute;anos tu mensaje
						</h4>

						<div class="bo4 of-hidden size15">
							<input class="sizefull s-text7" type="text" name="name" placeholder="Nombre Completo" ng-model="Contacto.nombre">
						</div>

						<div class="bo4 of-hidden size15">
							<input class="sizefull s-text7" type="text" name="phone-number" placeholder="Número de teléfono" ng-model="Contacto.telefono">
						</div>

						<div class="bo4 of-hidden size15">
							<input class="sizefull s-text7" type="text" name="email" placeholder="Correo Electrónico" ng-model="Contacto.email">
						</div>

						<textarea class="dis-block s-text7 size20 bo4" name="message" placeholder="Escribe tu mensaje" ng-model="Contacto.mensaje"></textarea>
                                                
                        <div class="g-recaptcha" data-sitekey="6Lfp3qEkAAAAAA5HOaCui7LjBlJhF4YFM0vIRBpH" data-callback="correctCaptcha"></div>


						<div class="w-size25">
							<!-- Button -->
							<button type="submit" class="btn btn-danger enviarcontatco--boton form-control">
								Enviar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</section>

