<h1>Bienvenidos</h1>

<p>Hola {nombre}, te damos la cordial bienvenida a macromautopartes</p>
<p>por medio de este correo enviamos tu usuario y contraseña para acceder a nuestra plataforma</p>
<p>El usuario es: <strong>{username}</strong></p>
<ṕ>La contraseña es: <strong>{password}</strong>
<p>Para acceder a nuestro panel de administracion es necesario dar clic en el siguinete link <a href="https://admin.macromautopartes.com/">https://admin.macromautopartes.com/</a></p>
<br>
<p>En horabuena ya eres parte de la familia Macromautopartes</p>