<h1>Hola de nuevo {nombre} </h1>

<p>Te enviamos tu nuevo password, para entrar al panel de control de nuestra plataforma</p>

<p>Usuario: <strong>{username}</strong></p>
<ṕ>Nueva contraseña: <strong>{password}</strong>
<p>Para acceder a nuestro panel de administracion es necesario dar clic en el siguinete link <a href="https://admin.macromautopartes.com/">https://admin.macromautopartes.com/</a></p>
<br>
<p>En caso de que no puedas entrar favor de ponerte en contacto con el administrador de la plataforma</p>