<div ng-controller="PruebasCrtl">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><i class="fa fa-user mr-1"></i> Pruebas con Skydropx</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="?mod=home">Inicio</a></li>
                        <li class="breadcrumb-item">Respaldo</li>
                        <li class="breadcrumb-item active">Precios</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-click="btnPruebas()">Realizar pruebas</button>
                    <button class="btn btn-info" ng-click="btnCotizacion()">Cotizador</button>
                </div>
            </div>
        </div>
        
        
    </section>
</div>
