<section ng-controller="CenviosCtrl" ng-cloak>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 align-items-center">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark font-weight-bold">Costos de Envíos</h1>
                </div><div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="?mod=home">Home</a></li>
                        <li class="breadcrumb-item">Configuración</li>
                        <li class="breadcrumb-item active">Códigos Postales</li>
                    </ol>
                </div></div></div></div>

    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="callout callout-info shadow-sm">
                        <h5 class="font-weight-bold"><i class="fas fa-info-circle text-info"></i> Información</h5>
                        <p>Este módulo permite ingresar y administrar el costo de envío de paquetería a distintas partes de México.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-xl-12 col-sm-12 col-md-12 col-lg-12 text-right">
                    <button class="btn btn-danger font-weight-bold shadow-sm" ng-click='btnNuevoEnvio()'>
                        <i class="fas fa-plus"></i> Nuevo Costo
                    </button>
                </div>
            </div>
            
            <div class="card shadow-sm border-0">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped mb-0">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>#</th>
                                    <th>Municipio</th>
                                    <th>Estado</th>
                                    <th>Costo</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="costo in envios">
                                    <td class="align-middle">{{$index+1}}</td>
                                    <td class="align-middle">{{costo.Municipio}}</td>
                                    <td class="align-middle">{{costo.Estado}}</td>
                                    <td class="align-middle font-weight-bold text-success">{{costo.precio | currency}}</td>
                                    <td class="text-center align-middle">
                                        <button type="button" class="btn btn-primary btn-sm mx-1 shadow-sm" ng-click="btnEditar(costo)" title="Editar Costo">
                                             <i class="fas fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm mx-1 shadow-sm" ng-click="btnDesactivar(costo.id)" title="Desactivar">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="Cenvios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 shadow">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLabel">
                        <i class="fas {{editar ? 'fa-edit' : 'fa-truck'}}"></i> {{editar ? 'Editar costo de envío' : 'Crear nuevo costo de envío'}}
                    </h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="font-weight-bold text-secondary">Estado:</label>
                            <select name="estados" id="estados" class="form-control border-secondary shadow-sm" ng-model="send.Estado" ng-change="getMunicipios()" ng-show="!editar">
                                <option value="" disabled selected>Selecciona el estado...</option>
                                <option ng-repeat="Edo in estados" value="{{Edo.Estado}}">{{Edo.Estado}}</option>
                            </select>
                            <div class="form-control bg-white font-weight-bold" ng-show="editar" readonly>{{send.Estado}}</div>
                        </div>
                        
                        <div class="col-12 mb-3">
                            <label class="font-weight-bold text-secondary">Municipio:</label>
                            <select name="municipios" id="municipios" class="form-control border-secondary shadow-sm" ng-model="send.Municipio" ng-show="!editar" ng-disabled="!send.Estado">
                                <option value="" disabled selected>Selecciona el municipio...</option>
                                <option ng-repeat="muni in municipios" value="{{muni.Municipio}}">{{muni.Municipio}}</option>
                            </select>
                            <div class="form-control bg-white font-weight-bold" ng-show="editar" readonly>{{send.Municipio}}</div>
                        </div>
                        
                        <div class="col-12 mb-2">
                            <label class="font-weight-bold text-secondary">Costo de Envío ($):</label>
                            <div class="input-group shadow-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white border-success"><i class="fas fa-dollar-sign"></i></span>
                                </div>
                                <input type="number" step="0.01" class="form-control border-success" ng-model='send.Precio' placeholder="Ej. 150.00">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-white">
                    <button type="button" class="btn btn-outline-secondary font-weight-bold" data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                    <button type="button" class="btn btn-success font-weight-bold" ng-click="btnCrearEnvio()">
                        <i class="fas fa-save"></i> {{editar ? 'Guardar Cambios' : 'Crear Costo'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>