<section ng-controller="BlogCtrl" ng-init="mod='{mod}'" class="global__content">
    <section class="contenedor" ng-repeat="nost in Banner.Escritorio">
        <img src="https://macromautopartes.com/images/Banners/{{nost.imagen}}" alt="Banner Blog">
        <!-- <img src="images/Banners/{{nost.imagen}}" alt="Banner Blog"> Activar solo en la pagina principal-->
        <h2 class="l-text2 t-center">Blog</h2>
    </section>

    <!-- content page -->
    <section class="bgwhite contenedor blog__principal" id="MainDark">
        <div class="container">
            <h1 class="text-center text-red"><b> ¿Qué encontrarás aquí?</b></h1>
            <p>En este blog encontrarás desde noticias sobre el mundo automotor, errores más comunes, hasta tips
                mecánicos, todo para que lo puedas
                implementar desde tu garage hasta en altunas emergencias
            </p>
            <div class="row contenedor__entradas">
                <div class="col-md-4 blog__entradas" ng-click="btnBlodDetalles(ent._id)" ng-repeat="ent in entradas">
                    <section class="blog-main">
                        <div class="hov-img-zoom blog-head">
                            <img ng-src="https://macromautopartes.com/images/Blog/{{ent.imagendestacada}}" alt="IMG-ABOUT">
                            <!-- <img ng-src="../images/Blog/{{ent.imagendestacada}}" alt="IMG-ABOUT"> Activar solo en la pagina principal-->
                        </div>
                        <div class="blog-body">
                            <h4 class="text-center"><b> {{ent.Title}}</b></h4>
                            <hr class="Bseparator">
                            <p class="text-center user-dataShop">
                                {{ent.Contenido}}
                                ...
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>