<section ng-controller="BlogDetallesCtrl" ng-init="id='{id}'">
    <section class="bgwhite contenedor detalles__blog" id="MainDark">
        <section class="contenedor" ng-show="entrada.Estatus && entrada.Publicar">
            <img ng-src="./images/Blog/{{entrada.Imagen}}" alt="Banner Blog">
        </section>
        <div class="container" >
            <div class="row" ng-show="entrada.Estatus && entrada.Publicar">
                <div class="col-md-12">
                    <section class="BD-title">
                        <h3 class="text-center">{{entrada.Title}}</h3>
                    </section>
                    <section class="BDbody" >
                        <div ng-bind-html="entrada.Contenido | bypass"></div>
                    </section>
                    <section class="BDfooter">
                        <div>
                            <img src="./images/icons/lobo_resenas.png" alt="avatar" class="img-responsive">
                        </div>
                        <div>
                            <p>Por <b>Macrom Autopartes</b></p>
                            <p>Publicado en {{entrada.FechaCorta | date:'longDate'}}</p>
                        </div>
                    </section>
                    
                </div>
                
            </div>
            <div class="row" ng-show="!entrada.Estatus && !entrada.Publicar">
                <div class="col-md-12">
                    <h1 class="text-center text-red"><i class="fa fa-warning"></i> !UPSS, Los sentimos¡</h1>
                    <p class="text-center ">La entrada solicitada de este blog no esta disponible </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <hr>
        
            <div class="row contenedor__entradas">
                <div class="col-md-4 blog__entradas" ng-click="btnBlodDetalles(post._id)" ng-repeat="post in posts">
                    <section class="blog-main">
                        <div class="hov-img-zoom blog-head">
                            <img ng-src="./images/Blog/{{post.imagendestacada}}" alt="IMG-ABOUT">
                         </div>
                         <div class="blog-body">
                            <h4 class="text-center"><b> {{post.Title}}</b></h4>
                            <hr class="Bseparator">
                            <p class="text-center user-dataShop">
                                {{post.Contenido}}
                            </p>
                         </div>   
                    </section>
                </div>
            </div>
        </div>
        
    </section>
</section>