<section  ng-controller="ProfileCtrl" ng-init="pag='{opc}'" class="global__content">
    <div class="banner Direc__perfil" id="PerfilDark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 perfil__navegador">
                    <div class="list-group">
                        <a id="sidebar6" class="list-group-item list-group-item-action sidebar__click" ng-click="btnMenulinks('Mispedidos')"> <i alt="logo-mispedidos" class="fa fa-shopping-cart"></i>Mis pedidos</a>
                        <a id="sidebar5" class="list-group-item list-group-item-action sidebar__click" ng-click="btnMenulinks('Session')"><i alt="logo-sesion-seguridad" class="fa fa-shield-alt"></i>Sessi&oacute;n y Seg&uacute;ridad</a>
                        <a id="sidebar7" class="list-group-item list-group-item-action sidebar__click active" ng-click="btnMenulinks('Direcciones')"> <i alt="logo-direcciones" class="fa fa-map-marked-alt"></i>Direcciones</a>
                        <a id="sidebar8" class="list-group-item list-group-item-action sidebar__click" ng-click="btnMenulinks('Facturacion')"><i alt="logo-facturacion" class="fa fa-file-invoice-dollar"></i> Datos de Facturación</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb gris">
                          <li class="breadcrumb-item"><a href="?mod=Profile&opc=Session"><strong>Mi Cuenta</strong> </a></li>
                          <li class="breadcrumb-item active" aria-current="page">Direcciones</li>
                        </ol>
                    </nav>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 perfil__titulo">
                            <div class="title-header">
                                <!-- <img src="https://macromautopartes.com/images/icons/icono_direcciones_rojo.png" alt="logo-direcciones" class="img icon-logos-grande"> -->
                                <img src="images/icons/icono_direcciones_rojo.png" alt="logo-direcciones" class="img icon-logos-grande">
                                <h2>Direcciones de entrega</h2>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfil__direcciones--cont">
                                     <div class="box-direcciones" ng-click="addDirecciones();">
                                        <div class="box-add">
                                            <h3><i class="fa fa-plus"></i></h3> 
                                            <p>Agregar Dirección</p>
                                        </div>  
                                     </div>   
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfil__direcciones--cont" ng-repeat="dire in profile.arrayDomicilios">
                                <div class="box-direcciones">
                                    <div class="box-head predeterminado" ng-show="dire.Predeterminado == 1">
                                        <h5>Predeterminado</h5>
                                   </div>
                                   <div class="box-body ">
                                        <div class="Direcciones__contenedor--datos">
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Domicilio</p>
                                                <p class = "text-info-user">{{dire.Domicilio}}</p>    
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Numero Exterior</p>
                                                <p class = "text-info-user">{{dire.numExt}}</p>    
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Numero Interior</p>
                                                <p class = "text-info-user">{{dire.numInt}}</p>    
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Telefono</p>
                                                <p class = "text-info-user">{{dire.Telefono}}</p>  
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Colonia</p>
                                                <p class = "text-info-user">{{dire.Colonia}}</p>  
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Codigo Postal</p>
                                                <p class = "text-info-user">{{dire.Codigo_postal}}</p>  
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Ciudad</p>
                                                <p class = "text-info-user">{{dire.Ciudad}}</p>  
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Estado</p>
                                                <p class = "text-info-user">{{dire.Estado}}</p>  
                                            </div>
                                            <div class="Direcciones__contenedor--info">
                                                <p class="datos__dire">Referencia</p>
                                                <p class = "text-info-user">{{dire.Referencia}}</p>  
                                            </div>
                                        </div>
                                    </div>
                                   <br>
                                   
                                   <div class="box-footer">
                                    <ul>
                                        <li><a  ng-click="btneditDomicilio(dire._id)">Editar </a></li>
                                        <li><a  ng-click="btndescartarDomicilio(dire._id)">Descartar </a></li>
                                        <li><a  ng-click="btnPredeterminado(dire._id)" ng-show="dire.Predeterminado == 0">Predeterminar </a></li>
                                    </ul>
                                   </div>
                                </div>   
                           </div>
                               
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>
    </div>