<section  ng-controller="ProfileCtrl" ng-init="pag='{opc}'" class="global__content">
    <div class="banner Direc__perfil" id="PerfilDark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 perfil__navegador">
                    <div class="list-group">
                        <a id="sidebar6" class="list-group-item list-group-item-action sidebar__click" ng-click="btnMenulinks('Mispedidos')"> <i alt="logo-mispedidos" class="fa fa-shopping-cart"></i>Mis pedidos</a>
                        <a id="sidebar5" class="list-group-item list-group-item-action active sidebar__click" ng-click="btnMenulinks('Session')"><i alt="logo-sesion-seguridad" class="fa fa-shield-alt"></i>Sesi&oacute;n y Seg&uacute;ridad</a>
                        <a id="sidebar7" class="list-group-item list-group-item-action sidebar__click" ng-click="btnMenulinks('Direcciones')"> <i alt="logo-direcciones" class="fa fa-map-marked-alt"></i>Direcciones</a>
                        <a id="sidebar8" class="list-group-item list-group-item-action sidebar__click" ng-click="btnMenulinks('Facturacion')"><i alt="logo-facturacion" class="fa fa-file-invoice-dollar"></i> Datos de Facturación</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 perfil__sesion">

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb gris">
                          <li class="breadcrumb-item"><a href="?mod=Profile&opc=Session">Mi Cuenta</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Sesi&oacute;n y Seg&uacute;ridad</li>
                        </ol>
                    </nav>

                    <div class="SS__perfil--contenedor">
                        <div class="SS__perfil">
                            <div class="">
    
                                <div class="SS__perfil--vistas">

                                    <div class="SS__perfil--dgenerales" id="DatosGenerales" role="tabpanel">
                                        <div class="SS__perfil--contxt">
                                            <h1 class="SS__perfil--txt">Información Personal</h1>
                                        </div>
                                        <div>
                                            <label for="nombre">Nombre(s):</label>
                                            <div class="">
                                                <input class="" name="nombre" type="text" placeholder="Nombre(s)" ng-model="profile.nombres" required>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="example-text-input" >Apellidos:</label>
                                            <div class="">
                                                <input class="" type="text" placeholder="Apellidos" ng-model="profile.Apellidos" required>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="example-text-input" >Correo Electronico</label>
                                            <div class="">
                                                <input class="" type="text" placeholder="Correo electronico" ng-model="profile.correo" required>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="example-text-input" >Telefono</label>
                                            <div class="">
                                                <input class="" type="text" placeholder="Telefono celular" ng-model="profile.telefono" required>
                                            </div>
                                        </div>
                                        <div class="SS__perfil--conbutton">
                                            <button class="SS__perfil--button" ng-click="btnGuardarSession(1)">Guardar</button>
                                        </div>
                                    </div>

                                    <div class="SS__perfil--ccontraseña" id="CambioContraseña" role="tabpanel">

                                        <form class="SS__perfil--datos" name="frmpassword" novalidate>
                                            <div class="SS__perfil--contxt">
                                                <h1 class="SS__perfil--txt">Contraseña</h1>
                                            </div>
                                            <div>
                                                <label for="example-text-input" >Nueva Contraseña</label>
                                                <div class="password__cont">
                                                    <input class="" type="password"  id="inprpass" placeholder="Nueva Contraseña" ng-model="profile.Nuevapass" required>
                                                    <span class="password__ver">
                                                        <i class="pass_ver pss fa fa-eye" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <small class="text-danger" ng-show="msjprofiledisplay">Las contraseñas nos son iguales*</small>
                                            </div>
                                            <div>
                                                <label for="example-text-input" >Confirma Contraseña</label>
                                                <div class="password__cont">
                                                    <input class="" type="password" id="inprcpass" placeholder="Confirmar contraseña" ng-model="profile.Confirmarpass" required>
                                                    <span class="password__ver">
                                                        <i class="pass_ver cpss fa fa-eye" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <small class="text-danger" ng-show="msjprofiledisplay">Las contraseñas nos son iguales*</small>
                                            </div>
                                            <div>
                                                <label for="example-text-input" >Contraseña Actual</label>
                                                <div class="password__cont">
                                                    <input class="" type="password" id="inprapass" placeholder="Contraseña Actual" ng-model="profile.passActual" required>
                                                    <span class="password__ver">
                                                        <i class="pass_ver apss fa fa-eye" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>

                                        </form>

                                        <div class="SS__perfil--conbutton">
                                            <button class="SS__perfil--button invalid" ng-show="frmpassword.$invalid">Guardar</button>
                                            <button class="SS__perfil--button" ng-show="frmpassword.$valid" ng-click="btnGuardarSession(2)">Guardar</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            
                        </div>

                        <!-- <div class="SS__perfil--imagen">
                            <div class="icon-center">
                                <img src="https://macromautopartes.com/images/icons/icono_inicio_de_sesión.png" alt="logo-inicio_session" class="img icon-logos-grande">
                                <img src="images/icons/icono_inicio_de_sesión.png" alt="logo-inicio_session" class="img icon-logos-grande">
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>    
        </div>
    </div>
