<section  ng-controller="ProfileCtrl" ng-init="pag='{opc}'" class="global__content">
    <div class="banner Direc__perfil" id="PerfilDark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 perfil__navegador">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" ng-click="btnMenulinks('Mispedidos')"> 
                            <img src="images/icons/icono_mis_pedidos.png" alt="logo-mispedidos" class="img icon-logo-small">Mis pedidos
                        </a>
                        <a href="#" class="list-group-item list-group-item-action" ng-click="btnMenulinks('Session')">
                            <img src="images/icons/icono_inicio_de_sesión.png" alt="logo-session-seguridad" class="img icon-logo-small"> Sesión y Seg&uacute;ridad
                        </a>
                        <a href="#" class="list-group-item list-group-item-action" ng-click="btnMenulinks('Direcciones')"> 
                            <img src="images/icons/icono_direcciones.png" alt="logo-direcciones" class="img icon-logo-small">Direcciones
                        </a>
                        <a href="#" class="list-group-item list-group-item-action active" >
                            <img src="images/icons/icono_facturacion.png" alt="logo-monederoelectronico" class="img icon-logo-small"> Datos de Facturación
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb gris">
                          <li class="breadcrumb-item"><a href="?mod=Profile"><strong>Mi Cuenta</strong> </a></li>
                          <li class="breadcrumb-item active" aria-current="page">Datos de Facturación</li>
                        </ol>
                    </nav>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 perfil__titulo">
                            <div class="title-header">
                                <img src="images/icons/icono_facturacion_rojo.png" alt="logo-direcciones" class="img icon-logos-grande">
                                <h2>Datos de facturación</h2>
                            </div>
                        </div> 
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="bo4 of-hidden size15 m-b-20 input-group">
                                <input type="text" name="buscar" class="form-control" placeholder="ej. PEPE SA DE CV" ng-model="buscar">
                                <span class="input-group-btn">
                                    <button class="btn flex-c-m size2 bg1 bo-rad-5 hov1 m-text3 trans-0-4" type="button"> Buscar</button>
                                </span>
                            </div>
                        </div> 

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfil__direcciones--cont" ng-click="addFacturacion()">
                                     <div class="box-direcciones">
                                        <div class="box-add">
                                            <h3><i class="fa fa-plus"></i></h3> 
                                            <p>Agregar datos de facturación</p>
                                        </div>  
                                     </div>   
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfil__direcciones--cont" ng-repeat="d in Facturacion.dataFacturacion |filter: buscar | orderBy:'Predeterminado':true">
                                    <div class="box-facturas">
                                       <div class="box-head predeterminado" ng-if="d.Predeterminado === '1'">
                                            <h5>Predeterminado</h5>
                                       </div>
                                       <div class="box-body">
                                            <div class="Facturacion__contenedor--datos">
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact" >Rfc: </p>
                                                    <p class="text-info-user">{{d.Rfc}}</p>
                                                </div>
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact">Razon social: </p>
                                                    <p class="text-info-user">{{d.Razonsocial}}</p>
                                                </div>
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact">Domicilio: </p>
                                                    <p class="text-info-user">{{d.Domicilio}}</p>
                                                </div>
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact">Colonia: </p>
                                                    <p class="text-info-user">{{d.Colonia}}</sppan>
                                                </div>
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact">Ciudad: </p>
                                                    <p class="text-info-user">{{d.Ciudad}}</p>
                                                </div>
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact">Estado: </p>
                                                    <p class="text-info-user">{{d.Estado}}</p>
                                                </div>
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact">Uso de Cfdi: </p>
                                                    <p class="text-info-user">{{d.Descripcion}}</p>
                                                </div>
                                                <div class="Facturacion__contenedor--info">
                                                    <p class="datos__fact">Actividad empresarial: </p>
                                                    <p class="text-info-user">{{d.Actividad}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <ul>
                                                <li><a href="#" ng-click="btnEditadatosFacturacion(d._id)">Editar </a></li>
                                                <li><a href="#" ng-click="btnEliminardatosfacturacion(d._id, 'del')">Descartar </a></li>
                                                <li ng-if="d.Predeterminado === '0'"><a href="#" ng-click="btnFacpredetermiando(d._id, 'pre')">Predeterminar</a></li>
                                            </ul>
                                       </div>
                                    </div>   
                               </div>
                               
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="icon-center">
                                <img src="images/icons/icono_facturacion.png" alt="logo-Facturacion" class="img icon-logos-grande">
                            </div>

                           
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>
    </div>
