<section  ng-controller="ProfileCtrl" ng-init="pag='{opc}'" class="global__content">
    <div class="banner p-t-40 p-b-40" id="PerfilDark" ng-init="dataDireccion.id='{id}'">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-30">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" ng-click="btnMenulinks('Mispedidos')"> <img src="images/icons/icono_mis_pedidos.png" alt="logo-mispedidos" class="img icon-logo-small">Mis pedidos</a>
                        <a href="#" class="list-group-item list-group-item-action" ng-click="btnMenulinks('Session')"><img src="images/icons/icono_inicio_de_sesión.png" alt="logo-session-seguridad" class="img icon-logo-small"> Sessi&oacute;n y Seg&uacute;ridad</a>
                        <a href="#" class="list-group-item list-group-item-action active"> <img src="images/icons/icono_direcciones.png" alt="logo-direcciones" class="img icon-logo-small">Direcciones</a>
                        <!--<a href="#" class="list-group-item list-group-item-action" ng-click="btnMenulinks('Monedero')"><img src="images/icons/icono_monedero.png" alt="logo-monederoelectronico" class="img icon-logo-small"> Monedero Electronico</a>-->
                        <a href="#" class="list-group-item list-group-item-action" ng-click="btnMenulinks('Facturacion')">
                            <img src="images/icons/icono_facturacion.png" alt="logo-monederoelectronico" class="img icon-logo-small"> Datos de Facturación
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 p-b-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb gris">
                          <li class="breadcrumb-item"><a href="?mod=Profile"><strong>Mi Cuenta</strong> </a></li>
                          <li class="breadcrumb-item"><a href="#" ng-click="btnMenulinks('Direcciones')">Direcciones</a> </li>
                          <li class="breadcrumb-item active" aria-current="page">Editar Domiciio</li>
                        </ol>
                    </nav>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-b-30">
                            <div class="title-header">
                                <img src="images/icons/icono_direcciones_rojo.png" alt="logo-direcciones" class="img icon-logos-grande">
                                <h2>Editar dirección de entrega</h2>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 p-b-30">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-b-10 m-t-15">
                                    <div class="title-header">
                                        <img src="images/icons/Icono-camion.png" alt="logo-direcciones" class="img icon-logos-grande">
                                        <h5>! Ayudanos a que tu proximo pedido no demore en llegar... ¡</h5>
                                    </div>
                                    
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Domicilio:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. pase de las colinas" ng-model="dataDireccion.Domicilio" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Numero Exterior:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. 3-A" ng-model="dataDireccion.numExt" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Numero Interior:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. dep 1" ng-model="dataDireccion.numInt" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Colonia:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. los angeles" ng-model="dataDireccion.Colonia" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Telefono:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. 3121103435" ng-model="dataDireccion.Telefono" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Codigo Postal:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="00000" 
                                            maxlength="5" ng-model="dataDireccion.Codigo_postal"  required>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Ciudad:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. Villa de alvarez" ng-model="dataDireccion.Ciudad" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Estado:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. Colima" ng-model="dataDireccion.Estado" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-b-10">
                                    <div>
                                        <label for="example-text-input" >Referencia:</label>
                                        <div class="bo16 of-hidden size15 m-b-20">
                                            <input class="sizefull s-text7 p-l-22 p-r-22 gris-light" type="text" placeholder="ej. entre la calle 1 y 2" ng-model="dataDireccion.Referencia" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="flex-c-m bg-red btn  bo-rad-10 hov7 m-text3 trans-0-4 float-right" ng-click="btnGuardarDireccion('save')">Guardar</button>
                                <button class="flex-c-m bg-dark btn bo-rad-10 hov7 m-text3 trans-0-4 float-right m-r-10" ng-click="btnMenulinks('Direcciones')">Regresar</button>
                            </div>   
                            
                               
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-b-30 ">
                            <div class="icon-center">
                                <img src="images/icons/icono_direcciones.png" alt="logo-direcciones" class="img icon-logos-grande">
                            </div>

                           
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>
    </div>
</section>